[2016-07-18 14:54] vparfonov opened #87 "Highlight Artik-specific keywords in the editor"
As discussed with Samsung, all artik specific keywords in the code should be highlighted. This way, a user will actually see what functions and methods have online help prompt.
We may use the same mechanism we employ for context sensitive help, i.e. a set of .js files shipped with online documentation.

[2016-07-19 14:03] vparfonov opened #89 "Synchronization project files workspace -> Artik device"
### Description
It should be possible to automatically sync project files and binaries with the device, i.e. all changes and new files in `/projects` directory in a workspace are auto synced into the selected directory of a selected device.

When a device is added, it should be possible to select a directory to push files to (`/root` by default)

We should use file watchers to catch changes and an

[2016-07-19 14:08] vparfonov opened #90 "Investigate use of rsync instead of scp to replicate project files on the Artik device"
The device runs Fedora and so does the workspace. Rsync is available in both and does not require any fine tuning.
Below is a command that does the job:
`rsync -a --update --recursive --rsh="sshpass -p ${password} ssh -o StrictHostKeyChecking=no -l ${user}" /projects ${user}@${device-hostname}:${destination-path}`
We can grab all of the variables from device recipe.
It is possible to run this comm

[2016-07-20 12:38] vparfonov opened #92 "Artik Device logging"
It should be possible to get logs from device. At the moment it's not clear what exact logs, we may start with executing such a command as `journalctl -f`
This should be a button on consoles panel, next to terminal. We may also have it in Artik menu

[2016-07-20 12:39] vparfonov commented on #92
@eivantsov : As discussed with Samsung, a user should be able to choose which file to tail.

[2016-07-20 14:02] vparfonov commented on #87
depend on https://github.com/eclipse/che/issues/1878

[2016-07-21 12:03] dkuleshov commented on #89
During this work I found that `SCP` has a few limitations:
- It does not recursively create parents if they does not exist. That means that if we are trying to `SCP` file` /root/folder/file` when `/root/folder` does not exist we receive error.
- It opens SSH connection each time we run `SCP`. That rises an optimization problem:
 - If we `SCP` the whole project folder it is redundant if we need to

[2016-07-21 12:06] TylerJewell commented on #89
Given the standardization of rsync it seems that would need to be the first option.  Implementing an extension to scp would not be maintainable and I would -1 that solution.

[2016-07-21 12:41] dkuleshov commented on #89
Agreed, I will check if `rsync` fits our needs and report back. For now it seems to be a solution for all our problems here at once.

[2016-07-26 07:37] eivantsov opened #94 "Development and production mode for Artik devices"
Development mode:

1. Currently, Artik requires gdbserver to debug apps. Turning device in a development mode will install gdbserver `dnf install gdb-gdbserver`

Production mode:

2. Delete gdbserver from the system
2. Delete /che directory with terminal

It should be Artik submenu > Profile > Development

Clicking on each item will bring a confirmation window:

Development - Development mode will

[2016-07-26 08:43] eivantsov opened #95 "Investigate how to connect local devices to the cloud"
It should be possible to connect local devices to a Codenvy cloud. It can be vpn or ssh tunneling. Summarize the most suitable options.

[2016-07-26 09:43] eivantsov commented on #94
[code]

[2016-07-26 10:22] eivantsov commented on #92
@vparfonov it looks like using commands widget to tail logs is the best ways to go in this situation especially since we do not know what files to tail. I will update Artik stack with dmesg or a similar command to tail system logs.

[2016-07-28 11:52] vparfonov opened #96 "Resources monitor (CPU, memory and storage) for connected devices within the IDE"
There should be a way to display resources consumption on all connected (running) devices. CPU, RAM and disc space are target metrics.

<img width="962" alt="ressources" src="https://cloud.githubusercontent.com/assets/1636592/17211557/d30e56cc-54d2-11e6-8c7d-43092e961308.png">

[2016-07-28 11:52] #96 closed

[2016-07-28 11:56] vparfonov opened #97 "Improve Resources monitor (CPU, memory and storage) for Artik device"
For now we ask resources loading information from client by time-out this is not good for performance.
Need to start long term process on server side that can communicate  with device and push notification to client via websocket channel

[2016-07-28 16:01] bmicklea commented on #90
@dkuleshov can you please add a status/... label to indicate where this issue is?

[2016-08-02 15:42] #90 closed

[2016-08-02 15:43] #89 closed

[2016-08-02 15:51] bmicklea opened #99 "Convert Vagrantfile to use Che Launcher syntax"
The current Vagrantfile uses the old Docker run syntax - it should be updated (if possible) to use the new Docker Launcher syntax.

[2016-08-12 14:41] #97 closed

[2016-08-12 14:41] #94 closed

[2016-08-15 12:13] eivantsov opened #105 "Release Artik 1.0.0"
Release Artik 1.0.0

[2016-08-15 14:25] riuvshin commented on #105
Done. https://github.com/codenvy/artik-ide/tree/1.0.0

[2016-08-15 14:26] #105 closed

[2016-08-15 15:14] #92 closed

[2016-08-16 01:12] ZhangHangdong opened #106 "Delete ARTIK device on "Manage Artik Devices" page without disconnect"
**Description of problem:**
If delete ARTIK device on "Manage Artik Devices" page without disconnect, the device info will still remain on the "consoles" panel.

**ARTIK IDE version:** samsung-artik-ide-nightly.zip 2016-08-14
**ARTIK IDE install directory:** C:\artik-ide-0.1.0-RC3-SNAPSHOT
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-id

[2016-08-16 01:31] ZhangHangdong opened #107 "The status (CPU, MEM, DISK) of ARTIK board can not show, after open the terminal."
**Description of problem:**
The status (CPU, MEM, DISK) of ARTIK board can not show, after open the terminal.

**ARTIK IDE version:** samsung-artik-ide-nightly.zip 2016-08-14
**ARTIK IDE install directory:** C:\artik-ide-0.1.0-RC3-SNAPSHOT
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-nightly.zip
**Browser:** Firefox 47.0.1

**Steps

[2016-08-16 01:55] ZhangHangdong opened #108 "Cannot open the terminal of ARTIK board, after connect multiple boards."
**Description of problem:**
If connect more than one board to the project, the terminal of the board cannot be opened except the last one.

**ARTIK IDE version:** samsung-artik-ide-nightly.zip 2016-08-14
**ARTIK IDE install directory:** C:\artik-ide-0.1.0-RC3-SNAPSHOT
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-nightly.zip
**Browse

[2016-08-16 09:49] ddementieva commented on #106
@ZhangHangdong Bug confirmed.

[2016-08-16 10:25] eivantsov commented on #107
@ZhangHangdong I cannot reproduce this one with the latest release which is 1.0.0.

![artik](https://cloud.githubusercontent.com/assets/5337267/17695773/cd4677bc-63b2-11e6-8740-a8a8d991eeb5.png)

[2016-08-16 10:25] eivantsov commented on #108
@ZhangHangdong I cannot reproduce this one with the latest 1.0.0 release. I have tried it with 3 devices.

[2016-08-16 18:00] ZhangHangdong commented on #107
@eivantsov It seems you used Chrome, yes, the issue is not existed in Chrome.
I am using Firefox 47.0.1, and I checked it again with version 1.0.0, the issue still existed when I used Firefox.

[2016-08-16 18:08] ZhangHangdong commented on #108
@eivantsov It seems you used Chrome, yes, the issue is not existed in Chrome.
I am using Firefox 47.0.1, and I checked it again with version 1.0.0, the issue still existed when I used Firefox.  As same as #107

[2016-08-16 18:47] ZhangHangdong opened #109 "Right click to "Run" workspace after "Stop" under "RECENT WORKSPACES" panel."
**Description of problem:**
After I right click the workspace under "RECENT WORKSPACES" panel, and "Stop" the workspace, the page titled "Start Workpace" will shown. Ignore this page, and right click the workspace under "RECENT WORKSPACES" panel, then "Run" the workspace.
Eventually, the workspace will be ran, but the page still not changed.

**ARTIK IDE version:** artik-ide-1.0.0
**ARTIK IDE inst

[2016-08-16 20:14] ZhangHangdong opened #110 "C, C++, and Python projects do not have "hello world" demo."
**Description of problem:**
C, C++, and Python projects do not have "hello world" demo.

**ARTIK IDE version:** artik-ide-1.0.0
**ARTIK IDE install directory:** C:\artik-ide-1.0.0
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-latest.zip (2016-08-16)
**Browser:** Chrome

**Steps to Reproduce:**
1. Press "Workspace"
2. Press "Create Pr

[2016-08-16 20:43] ZhangHangdong opened #111 "Fail to change project name"
**Description of problem:**
When I change project name, the name no any change after press "OK". And, the project with old name still exist.

**ARTIK IDE version:** artik-ide-1.0.0
**ARTIK IDE install directory:** C:\artik-ide-1.0.0
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-latest.zip (2016-08-16)
**Browser:** Chrome

**Steps to

[2016-08-16 21:48] ZhangHangdong opened #112 "Create new file through "Assistant" -> "Find Action", show too many pages."
**Description of problem:**
When I use "Assistant" -> "Find Action", find and open the page to create new file (any type: C, C++, Java...), It will show too many pages.

**ARTIK IDE version:** artik-ide-1.0.0
**ARTIK IDE install directory:** C:\artik-ide-1.0.0
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-latest.zip (2016-08-16)
**Br

[2016-08-17 08:56] laralijuan opened #113 "Duplicate “New Javascript file”menu in new file menu and without java file type"
**Description of problem:**
There is duplicate “New Javascript file”menu in “Project”->“New” and there is no java type menu in it.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0
**Browser:** Chrome

**S

[2016-08-17 10:07] ddementieva commented on #109
@ZhangHangdong Bug confirmed.

[2016-08-17 10:09] ddementieva commented on #113
@laralijuan Can you send a screenshot please?

As to creating Java files, it's only possible in Java projects, while you've created (most probably) a C project.

[2016-08-17 10:13] ddementieva commented on #110
@ZhangHangdong If you create project from scratch some project types indeed lack a source code.

If you create a project from Samples, you'll get a hello world demo.

We'll mark it as improvement.

[2016-08-17 14:24] ddementieva commented on #112
@ZhangHangdong Bug confirmed.

[2016-08-17 14:31] ddementieva commented on #111
@ZhangHangdong This is a known bug: https://github.com/eclipse/che/issues/1857

[2016-08-18 01:12] laralijuan commented on #113
@ddementieva  Yes, It is the Java project. And in Java project, C/C++/Python type file can also be created. And
Please refer the below screenshots.
![image](https://cloud.githubusercontent.com/assets/20897963/17758622/86cd4ae6-6523-11e6-995b-f315fdf47a4e.png)
![image](https://cloud.githubusercontent.com/assets/20897963/17758643/a7fdc29a-6523-11e6-82aa-ce5e42882fa7.png)

[2016-08-18 04:13] eivantsov opened #114 "Investigate possible integration with resin.io"
Investigate the mechanism resin.io uses to connect to boards and propose possible solutions regarding integration of resin.io with Artik IDE

[2016-08-18 04:29] eivantsov commented on #113
@laralijuan No Java file is expected since you may only create java files in sc/main/java or whatevwer source folder is configured.

As to duplicate JavaScript file items in the menu, we will double check. Thanks

[2016-08-18 05:27] laralijuan commented on #113
@eivantsov when focus on src, Java class/package can be created. But other irrelevant type file(C/C++/... for Java project) can also be created in src.
I suggest for different type project should have file type filter.

[2016-08-18 07:02] laralijuan opened #115 "Sub project “Download as zip…” will download the parent project"
**Description of problem:**
1. When download the sub project, the parent project will be downloaded too.
2. In “Workspace” and “Project” menu, there are same sub menu-”Download as Zip…” with same function.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu

[2016-08-18 07:09] laralijuan opened #116 "Cannot show the hidden file"
**Description of problem:**
Sub menu - “Show/Hide hidden files” doesn’t work. The hidden file cannot be shown.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0
**Browser:** Chrome

**Steps to Reproduce:**

[2016-08-18 08:08] ddementieva commented on #116
@laralijuan We've checked it with Chrome and found no issues with showing hidden files. Take a look at the screenshot below:

![hidden-files](https://cloud.githubusercontent.com/assets/6860395/17766406/9f52e9a8-6533-11e6-8d07-9e34cdbc4353.png)

As to splitting Show / Hide hidden files menu, you can register a feature request on that at https://github.com/eclipse/che/issues

[2016-08-18 08:32] ddementieva commented on #107
@ZhangHangdong Bug confirmed.

[2016-08-18 08:34] ddementieva commented on #115
@laralijuan It's an expected behavior.

To download some folder as a zip, right click on the chosen folder > Download...

[2016-08-18 08:38] laralijuan commented on #115
@ddementieva The right click using mouse operation is right, the the menu operation is wrong.

[2016-08-18 08:45] laralijuan commented on #116
@ddementieva OK. I will ask ZhangHangdong help check this issue again. I tried some time, the hidden file never shown. My browser is Chrome too.

[2016-08-18 09:06] ddementieva commented on #113
@laralijuan If you think it's a useful improvement, you can register an issue on that at https://github.com/eclipse/che/issues

[2016-08-18 13:18] slemeur commented on #115
The "Download as Zip..." in the Project menu must only have the scope of the currently focused project only.

[2016-08-18 17:07] ZhangHangdong commented on #116
@laralijuan I have checked it on my environment, The issue cannot be reproduced, “Show/Hide hidden files” function works well. I guess maybe some wrong with the browser cache, could you please clear the cache, or use other guy's PC to check the issue one more time. Thanks a lot!

[2016-08-19 00:14] ZhangHangdong opened #118 "Can not delete sample projects."
**Description of problem:**
Can not delete sample projects.

**ARTIK IDE version:** artik-ide-1.0.0
**ARTIK IDE install directory:** C:\artik-ide-1.0.0
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-latest.zip (2016-08-16)
**Browser:** Chrome

**Steps to Reproduce:**
1. Create a workspace
2. Create projects with any sample.
![issue_8-

[2016-08-19 00:51] laralijuan commented on #116
@ZhangHangdong According your mentioned, it works well after clearing the browser cache.

[2016-08-19 00:51] #116 closed

[2016-08-19 01:05] ZhangHangdong opened #119 "[Critical] Can not open ARTIK terminal (new ARTIK board with empty "/root" directory)"
**Description of problem:**
[Critical] Can not open ARTIK terminal (new ARTIK board with empty "/root" directory)

**ARTIK IDE version:** artik-ide-1.0.0
**ARTIK IDE install directory:** C:\artik-ide-1.0.0
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + samsung-artik-ide-latest.zip (2016-08-16)
**Browser:** Chrome

**Steps to Reproduce:**
1. A new ARTIK

[2016-08-19 05:38] laralijuan opened #120 "Some path error in "Push To Device" process"
**Description of problem:**
1. The replication folder path doesn't work
2. The second "Push To Device" process make wrong path.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0
**Browser:** Chrome

**Step

[2016-08-19 06:55] eivantsov commented on #120
@laralijuan Project replication folder is a directory in the device where projects from Artik IDE are automatically rsynced.

Push to device is an additional feature. By default, we push to root. However, you can specify whatever path you need.

In fact, push to device is not needed at all since all projects in the project tree are automatically replicated on the device.

So, when you connect a de

[2016-08-19 06:57] eivantsov commented on #119
@ZhangHangdong when you `cd che` can you see terminal directory and some files in it?

What Artik board do you have? I cannot reproduce it with Artik 5 and 10.

[2016-08-19 07:22] eivantsov commented on #118
@ZhangHangdong I cannot reproduce this one. Are there maybe any additional steps to take?

Also, can you send a screenshot with browser dev console opened to see if there are exceptions and errors.

[2016-08-19 07:33] slemeur commented on #115
Why is that closed?

[2016-08-19 08:08] ddementieva commented on #108
@ZhangHangdong Bug confirmed.

[2016-08-19 08:19] laralijuan commented on #120
@eivantsov Does artik-ide-1.0.0 have the automatically rsynced feature? It seems not. right?

[2016-08-19 10:22] eivantsov commented on #115
@slemeur isn't it you who confirmed it's expected behavior?

[2016-08-19 12:24] ddementieva commented on #120
@laralijuan yes, it does.

[2016-08-19 12:31] slemeur commented on #115
No.

"Download as Zip..." in Project menu must only have the scope of the currently focused project only --> means that in this use case, only the project "2" is selected by the user, so only the project "2" should be in the Zip.

It should behave similarly to the other options of the "Project" menu:
- Configure Project --> Allow to configured only one project, the one selected
- Upload File --> A

[2016-08-19 12:31] eivantsov commented on #115
@slemeur project or folder?

[2016-08-19 12:40] eivantsov commented on #115
Labeling as bug

[2016-08-19 12:40] slemeur commented on #115
For the case of "Download as Zip", it should be the currently selected project and @laralijuan has converted the folder to be a project.

Agree with you that if user wants to get only a folder, the contextual menu available with the right-click is handling that.

[2016-08-19 12:47] eivantsov commented on #120
@laralijuan the best way to check it is to specify this replication path when connecting a device. Let it be a non existing path, say `/root/artik-ide`

Having connected a device, open a terminal into it, and run `ls`. You will see `/artik-ide/projects/${project-name}` path.

[2016-08-19 16:30] ZhangHangdong commented on #119
@eivantsov I can see terminal directory, but nothing in it. I tested on 520 and 710, both of them have the issue.
![issue_9-5](https://cloud.githubusercontent.com/assets/20865878/17816509/5774832e-65ee-11e6-9065-edea6287a257.PNG)

BTW, I remove the exited che directory on the board firstly, and then start testing. And, I used VirtualBox to hold IDE server in my laptop (Win 7 64-bit).
![issue_9-6](

[2016-08-19 17:43] ZhangHangdong opened #121 "[Critical] If "vagrant up" under network disconnection once, "vagrant up" cannot be started anymore."
**Description of problem:**
If we run "vagrant up" under network disconnection once, "vagrant up" cannot be started anymore after recover the network connection (I think it should be started).

**ARTIK IDE version:** artik-ide-1.0.0 (vagrant)
**ARTIK IDE install directory:** C:\
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** VirtualBox + Vagrant
**Browser:** Chrome

[2016-08-19 18:32] TylerJewell commented on #121
I can confirm the issue.  Though, I'd like to label this as a "won't fix", @ZhangHangdong.  We are working on improvements to the installation of the ARTIK IDE so that it can use the new Che launcher syntax.  It's tremendously more simplified, follows good 12-factor app design, and has a syntax that is consistent for very OS. Net net - it's a lot simpler than the Vagrant syntax.  We hope to releas

[2016-08-20 00:09] ZhangHangdong commented on #118
@eivantsov I got the screenshot, hope it is useful. I think I can provide more such as system logs, if you tell me where they saved.
![issue_8-3](https://cloud.githubusercontent.com/assets/20865878/17827269/c4744f00-662e-11e6-9907-dc75ec22547c.PNG)

[2016-08-21 06:09] eivantsov commented on #121
@TylerJewell why is it labeled as a bug? This is default Vagrant behavior where Vagrant is checking if there's an updated image.

[2016-08-21 06:12] eivantsov commented on #119
@ZhangHangdong looks like terminal files got copied into the wrong dir, although I don't know why it happened and cannot reproduce it with boards that I have. We have just got a few 720s, so it'll be a good chance to test Artik IDE with a clean board.

[2016-08-21 06:17] eivantsov commented on #118
@ZhangHangdong the only suspicion that I have is that it is somehow related to VirtualBox - since windows directories get mounted into the VM and then in a container, there can be some sort of permissions issue.

Do you have a chance to try to reproduce this one on a Unix machine where the server runs natively? Meanwhile I will give it a shot on a Win 8 laptop with Vagrant and VBox. Thanks

[2016-08-21 06:31] eivantsov commented on #118
@ZhangHangdong failed to reproduce on Win8

[2016-08-21 22:12] JamesDrummond commented on #114
@vparfonov Provide status label.

[2016-08-21 22:13] JamesDrummond commented on #106
@vparfonov Provide status label.

[2016-08-21 22:34] JamesDrummond commented on #95
@eivantsov @skryzhny Let's chat about this when you get a chance. My thought has always been to use a separate "mount" container that would share a volume to the workspace. That way the workspace would not be required to have privileged access. The workspace would be passed the ssh login credentials of the mount container when it's created that can be displayed in the ssh console information. The

[2016-08-21 22:35] JamesDrummond commented on #95
@vparfonov Provide status label.

[2016-08-22 06:58] laralijuan commented on #120
@eivantsov As your discribed process. The project synchronizing only works on docker's default image (/Projects/), but not works on the connected artik device. Please check it. Thanks

[2016-08-22 07:08] eivantsov commented on #120
@laralijuan do you have rsync installed on the device? What device do you connect to Artik IDE?

[2016-08-22 07:54] laralijuan commented on #120
@eivantsov I test on ARTIK710, and have not installed rsycn.
Just now,  I tried to install rsync on the device, and change the device's profile to "Development".  But it cannot synchronize either.

[2016-08-22 08:08] eivantsov commented on #120
@laralijuan Yes, without rsync replication won't work.

With rsync installed, you should see a specified folder on the device.

We will include rsync to list of software that is installed as part of development profile.

[2016-08-22 08:25] laralijuan commented on #120
@eivantsov now, rync installed but rsync replication doesn't work either.
![1](https://cloud.githubusercontent.com/assets/20897963/17848214/c5964f0c-6884-11e6-87c3-9d45ea762a5f.png)

The issue I discribed is the "Push To Device" function, Let's back to it. For IDE 1.0.0, the push function remains, so I think this issue should be fixed.

[2016-08-22 08:45] eivantsov commented on #120
@laralijuan did you restart a workspace after rsync has been installed on the device?

[2016-08-22 09:18] laralijuan commented on #120
@eivantsov yes, it works now.

And about the path error in "Push To Device"，what is your opinion?

[2016-08-22 09:21] eivantsov commented on #120
@laralijuan I do not quite get what the error is. This feature is independent of rsync thing.

With push to device we use scp. The default path is /root but you can configure destination path when pushing to a device.

[2016-08-22 13:58] TylerJewell commented on #121
Hmm.  Can you elaborate a little bit more?  In this particular scenario, after the network was recovered, shouldn't vagrant up work normally?  It did not for me - either indicating the network was still down or failure inside the recovery vm.

[2016-08-23 06:12] laralijuan opened #122 "Github OAuth problem: redirecturi "connect time out" and Cannot create artik sample project"
**Description of problem:**
1. At the Github OAuth process, always "connect time out" at uri redirection step.
2. The artik sample project cannot be created.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0

[2016-08-23 06:17] laralijuan commented on #122
I have referred:
https://eclipse-che.readme.io/docs/git#section-github
https://eclipse-che.readme.io/docs/configuration#github-oauth
https://github.com/eclipse/che/issues/1694

And, tried using my testing pc's ip to instead the "localhost", unfortunately, all failed.

[2016-08-23 07:40] eivantsov commented on #121
@TylerJewell vagrant is checking if the image in the repository has some updates.

[2016-08-23 07:43] eivantsov commented on #122
@laralijuan are you  using a different network? You were able to create sample projects before, right?

Can you just start a workspace and try to git clone smth in the terminal?

[2016-08-23 07:48] eivantsov commented on #122
@laralijuan as to setting up oAuth you did everything OK. It's is most certainly a network related issue.

[2016-08-23 08:01] laralijuan commented on #122
hi, @eivantsov I have never create artik sample project before.  Only other type project creation is OK.
Does creating artik sample project must set the Github OAuth?

I do "git clone https://github.com/che-samples/artik-blink-led.git" successful in my testing PC( run IDE Server).
but failed on the artik device. (prompting: "Could not resolve host: github.com")
and also failed on workspace's defau

[2016-08-23 12:50] TylerJewell commented on #121
Yes but after it determines that there is not a new image then it doesn't complete the normal up cycle.  The provisioned doesn't seem to finish the cycle.  So vagrant is either hanging or something in the provisioner cycle is not reacting properly here.

[2016-08-23 21:02] ZhangHangdong commented on #119
@eivantsov the issue have been checked by laralijuan in the environment without virtualbox, and still not reproduce it. So I guess maybe the issue related with virtualbox. Could you please check it one more time by using virtualbox env. Thanks a lot.

[2016-08-23 21:30] ZhangHangdong commented on #118
@eivantsov sorry, I cannot find the logs. I think you are right, the issue is related with VBox. And I do more test below by using the terminal directly to delete the project file:
1. rm -rf artik-samples
2. all files under the "artik-samples" directory be deleted, except the "artik-samples" directory
3. "artik-samples" directory still cannot be deleted.
![issue_10](https://cloud.githubusercontent

[2016-08-24 00:30] ZhangHangdong commented on #121
Just now, I met it again even though did nothing to network, and what I want to do is just restart IDE.

![capture](https://cloud.githubusercontent.com/assets/20865878/17914196/f8b01186-6954-11e6-9f41-79339eb7e260.PNG)

So now, I have to delete VM, then "vagrant up", and wait a long long time for its downloading.
Do we have any other way to make it work again quickly? If not, I think this is a cri

[2016-08-24 03:24] TylerJewell commented on #121
Ok, the best fix here will be to make the switch vet to the new docker launcher.  The core merge can happen tomorrow and I have tested the various scenarios with Artik.  The docker launcher is so much lighter weight and avoids some of these issues with vagrant availability.

I plan to discuss with our team on the various pieces we need to finalize to roll this approach to running the Artik ide out

[2016-08-24 07:09] laralijuan opened #123 "Cannot delete the resources on ARTIK device during sync project files"
**Description of problem:**
Delete the projects or files in the IDE workspace, the corresponding sync projects or files on ARITK device cannot be removed.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0

[2016-08-24 07:41] laralijuan opened #124 "The file can be synchronized from default machine to ARTIK device, but the conversely process cannot."
**Description of problem:**
The file can be synchronized from default machine to ARTIK device, but the conversely process cannot.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0
**Browser:** Firefox

**S

[2016-08-24 18:29] ZhangHangdong opened #125 "Synchronize function need to be improved, should not always show "rsync" errors"
**Description of problem:**
When I connect a new ARTIK board (have not installed "rsync" yet) to IDE, I always see the errors about "rsync" again and again, until I install it onto the ARTIK board.
![issue_12](https://cloud.githubusercontent.com/assets/20865878/17942706/5719adac-69ed-11e6-9e71-31714baf001d.PNG)

I think the synchronize function need to be improved, and I have 3 ideas:
1> add a swi

[2016-08-24 21:47] ZhangHangdong opened #126 "Can not get and see the IP address through "adb devices" command"
**Description of problem:**
According to development backlog: DTIDE.07: Eclipse Che Discovery Service
and online documentation: [Connect-to-an-ARTIK-Device](https://eclipse-che.readme.io/docs/samsung-artik-ide-getting-started#4-Connect-to-an-ARTIK-Device)

I want to discover the IP address of my USB-connected (regular USB, not micro) ARTIK devices. All physical connection and software installation

[2016-08-24 21:50] TylerJewell commented on #126
@ZhangHangdong - the docs for ARTIK IDE are about getting the IP address by using a terminal inside of your workspace.  You ran the `abd` command on your Windows DOS prompt, where configuration would be different.  Open the terminal in the workspace and follow the sequence of commands in the docs.

[2016-08-24 22:12] ZhangHangdong commented on #126
@TylerJewell I get nothing in terminal.
![image](https://cloud.githubusercontent.com/assets/20865878/17949967/fc318a20-6a0c-11e6-848e-87e8e2b50560.png)

and the adbd service is working on the ARTIK board.
![image](https://cloud.githubusercontent.com/assets/20865878/17949972/0a30af98-6a0d-11e6-89f2-652ba7cea827.png)

[2016-08-24 22:18] TylerJewell commented on #126
That is going to be hard to diagnose remotely - I just booted up a board, launched the Artik stack, connected over regular USB and then `abd devices` was able to work.  It does not work over micro-USB, however - so are you on a female:female connector?

[2016-08-24 22:40] ZhangHangdong commented on #126
@TylerJewell Thanks a lot for your reply. I used mini-USB, and connected A520. I will do more testing and verification.
And could you please show a screenshot under successful situation for me.

[2016-08-24 22:43] TylerJewell commented on #126
I just took apart my artik board to mail to one of our PMs for more testing :), so cannot give you a screen shot.  But there isn't much to show. You should just get a list of IP addresses in the console.  The adb client is very simple, and gives minimal output.

But this micro-USB limitation is a limitation of Google's ADB, it's not really a limitation of ARTIK IDE, Che or Samsung ARTIK board.

[2016-08-25 02:44] laralijuan opened #127 "Debug function cannot connect the binary file built on ARTIK"
**Description of problem:**
When using debug, the binary file built on ARTIK cannot be connected by IDE.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0
**Browser:** Chrome

**Steps to Reproduce:**

1. M

[2016-08-25 02:49] laralijuan commented on #127
The breakpoints don't work in IDE-1.0.0, the debugging cannot stop at the breakpoint. Does 1.0.0 provide this feature?

[2016-08-25 07:03] laralijuan opened #128 "Cannot remove the project backup from ARTIK after turned to production mode"
**Description of problem:**
The sync project backup cannot be removed automatically after turning the ARTIK to Production mode.

**ARTIK IDE version:** samsung-artik-ide-1.0.0
**ARTIK IDE install directory:** ~/samsung-artik-ide-1.0.0/
**Docker version:** 1.12.0
**Java version:** 1.8.0_101
**Environment details:** Ubuntu 14.04 LTS + Docker + JDK+ samsung-artik-ide-1.0.0
**Browser:** Firefox

**Ste

[2016-08-25 07:56] eivantsov commented on #128
@laralijuan this feature has not been yet implemented

[2016-08-25 07:59] eivantsov commented on #127
@laralijuan binary has to exist in the workspace as well. This is how GDB works.. binary should be both on the device and in the workspace.

[2016-08-25 08:03] eivantsov commented on #125
@ZhangHangdong yes, we will add rsync to list of software to be installed in a Dev profile

[2016-08-25 08:07] eivantsov commented on #124
@laralijuan this is expected behavior. It is not synchronization but replication of data. Projects in your workspace are replicated on the device. We do not run any scripts on the device as it is rather intrusive. Besides, it is in the developer workspace that changes to sources and binaries are made.

[2016-08-25 09:13] eivantsov commented on #123
@laralijuan this commit should fix it - https://github.com/codenvy/dockerfiles/commit/c8ec5e52c36ce37a79628d9470e81b9bc52d641c

I have rebuilt codenvy/artik base image.

Can you run `docker pull codenvy/artik` and try it again?

[2016-08-25 09:28] eivantsov commented on #126
`adb devices` won't show IP it will list devices and their ID, we then extract those IDs and perform the following:

`adb -s $deviceId shell ifconfig $interfaceName` where $interfaceName is either `wlan0` or `eth0`

Since you use VirtualBox, can you ssh into a machine and look for the device there?

Another thing to try is to connect an Android based phone over USB and see if it is available in th

[2016-08-25 10:47] TylerJewell commented on #127
Is there anything that we can do to detect that the binary is not setup in both locations to provide a more helpful message to the user?  I am not sure there is but if we can add some sort of detector this may help many users avoid a common gotcha.

Also what browser is the OP using?  I notice the fonts are not displaying properly.

[2016-08-25 12:46] eivantsov commented on #125
https://github.com/codenvy/artik-ide/pull/129 this pull request should at least make it easier to install rsync.

[2016-08-25 14:50] bmicklea opened #130 "Adapt Che Launcher for ARTIK IDE"
Add a job to our Jenkins system to:

1: Copy che.sh and che.bat from Che repo.
2: Place into artik-ide repo, but name it as artik-ide.sh and artik-ide.bat.
3. Inside the artik-ide.sh file, change the following default environment variables:
   DEFAULT_CHE_PRODUCT_NAME="ARTIK-IDE"
   DEFAULT_CHE_MINI_PRODUCT_NAME="artik"
   DEFAULT_CHE_SERVER_IMAGE_NAME="codenvy/artikide"
   DEFAULT_CHE_SERVER_CONT

[2016-08-25 16:47] bmicklea commented on #121
@ZhangHangdong - we are going to be switching from using Vagrant (which has several limitations that we can't overcome like this one) to a Docker based getting started. We've been using the Docker getting started method with Eclipse Che for several weeks now and the feedback has been much more positive.

I'm going to close this issue since we're removing Vagrant.

[2016-08-25 16:48] bmicklea commented on #108
@ZhangHangdong - FYI, this is scheduled for the Aug-31 ARTIK IDE release.

[2016-08-25 16:48] bmicklea commented on #107
@ZhangHangdong - FYI, this is scheduled for the Aug-31 ARTIK IDE release.

[2016-08-25 16:49] bmicklea commented on #106
@ZhangHangdong - FYI, this is scheduled for the Aug-31 ARTIK IDE release.

[2016-08-25 17:06] ZhangHangdong commented on #121
@bmicklea I agree with you about remove vagrant.
But now, I want to know what is the official solution to use ARTIK IDE as a desktop IDE, it means I install IDE server and use IDE dashboard both on my laptop.
And, have we updated the online doc? I think the online doc is one of the MVP release.

[2016-08-25 17:35] TylerJewell commented on #121
@ZhangHangdong - Last night I tested a Docker-based installation of the ARTIK IDE with a nice, simple CLI.  It was super nice.  We also have a draft of the docs ready.  However, it is not ready to be published online yet, as there are components of the overall solution that need to be updated over the next 48 hours by our CI systems.

The windows installation will go something like this:
1: Get Do

[2016-08-25 18:12] ZhangHangdong commented on #121
@TylerJewell Oh, it looks great! I will follow you. Thank you so much **: )**

[2016-08-25 21:30] TylerJewell commented on #130
Unfortuantely we cannot add CI jobs that will do an auto-commit to the repository.  So I had to do a 1-time copy of the files.

https://github.com/codenvy/artik-ide/pull/131

[2016-08-25 21:40] #130 closed

[2016-08-26 01:14] ZhangHangdong commented on #121
@TylerJewell Sorry for disturbing you again! I met following error when I run "artik-ide start".
![capture](https://cloud.githubusercontent.com/assets/20865878/17990902/e731e678-6aee-11e6-9f96-852af0ff4db2.PNG)

I used boot2docker, and set CHE_DATA_FOLDER = /c/Users/visitor/test
![capture](https://cloud.githubusercontent.com/assets/20865878/17990947/3f33d944-6aef-11e6-94d0-e49cc398230b.PNG)
![capt

[2016-08-26 01:28] TylerJewell commented on #121
Hi!  Yes, I think I can help.  My sense is that you may be trying to outthink it.  It looks like your "declare -x is in the Linux box and not on the windows terminal.

In your windows terminal do:
[code]
And then type the following.  We have logic in the CLI that converts windows directories into valid Docker volume mounts.  So give this syntax a try first and let me know how it goes.
[code]

Plea

[2016-08-26 05:18] ZhangHangdong commented on #121
@TylerJewell Sorry, I forgot mention that my laptop is Win7. When I run "artik-ide", "artik-ide start", "docker ps" in windows terminal, both got the following error:
![capture](https://cloud.githubusercontent.com/assets/20865878/17994860/68ce3142-6b11-11e6-8e62-a49baaabdcfc.PNG)

[2016-08-26 07:19] laralijuan commented on #127
@eivantsov Yes, I have followed that doc. As your discription, the binary should be both on the device and workspace, it is still the problem. Because in #124 you know the binary built on ARTIK cannot be replicated to workspace and you said "Projects in your workspace are replicated on the device".  "Besides, it is in the developer workspace that changes to sources and binaries are made. "

But, t

[2016-08-26 07:26] laralijuan commented on #127
@TylerJewell the browser is Chrome. ARTIK IDE is running on Ubuntu. I use the Chrome on Win7.

[2016-08-26 08:46] laralijuan commented on #123
@eivantsov yes, this issue is fixed. Thanks ~

[2016-08-26 12:37] TylerJewell commented on #121
Your first error was something about directory formatting.  But your second error means that docker is not set up in your console.  You need to follow the instructions from dockers web site about starting docker in the console with docker-machine, or you can open the docker terminal which starts it for you.

[2016-08-26 13:12] TylerJewell commented on #127
@ashumilova - is this a firefox issue, or is it perhaps due to a globalization setting on the host computer's OS affecting chrome?

[2016-08-26 13:49] TylerJewell commented on #121
Ok - some of the important changes have been completed on the CI stuff.  This page is hidden from the table of contents, but it's visible for those that have the direct URL.  You can see the full syntax for running the ARTIK IDE using Docker.

https://eclipse-che.readme.io/v4.6/docs/getting-started

[2016-08-29 16:39] #118 closed

[2016-08-29 16:41] #119 closed

[2016-08-29 22:00] ZhangHangdong commented on #121
@TylerJewell Refer to your link, now, I can install successfully
![capture](https://cloud.githubusercontent.com/assets/20865878/18068909/99b5c42a-6df8-11e6-9178-9b61dbe89734.PNG)

But after opened dashboard, I found what I installed is eclipse che, not ARTIK IDE. I cannot find the "ARTIK" stack.
![capture](https://cloud.githubusercontent.com/assets/20865878/18068953/f1e3c688-6df8-11e6-924b-7ff0082

[2016-08-29 22:52] TylerJewell commented on #121
Hi @ZhangHangdong - there are a couple things that you need to do temporarily because we haven't officially released everything yet.  I just tested this sequence and it was good to go.

[code]

[2016-08-30 00:43] ZhangHangdong commented on #121
@TylerJewell Wow! Great! It works. I will not afflicted by vagrant any more. Thank you very much! You are my hero!
![capture](https://cloud.githubusercontent.com/assets/20865878/18071926/5c1b6d0c-6e0e-11e6-8de8-ea181982276a.PNG)

[2016-08-30 00:43] TylerJewell commented on #121
Cool.  What do you think of this new approach?  Much simpler I think.

[2016-08-30 12:18] eivantsov commented on #95
@JamesDrummond the goal of this task is to investigate how VPN can be used to connect local devices. How a mount container will help? We treat Artik as SSH machine that needs to have hostname/IP to connect to. @skryzhny has set up a test instance with OpenVPN running. We have connected to this VPN from Artik device which acquired a local IP relative to the instance. This IP was then used to connec

[2016-08-30 12:54] eivantsov commented on #108
Fixed by https://github.com/eclipse/che/pull/2261

[2016-08-30 12:54] #108 closed

[2016-08-30 12:54] eivantsov commented on #107
Fixed by https://github.com/eclipse/che/pull/2261

[2016-08-30 12:55] #107 closed

[2016-08-30 12:56] #106 closed

[2016-08-30 14:55] skryzhny commented on #95
I tried PPTP servers but found that Artik devices lack needed kernel module, so PPTP client can't be used on Artik.
SSH is looks like more lite on resources but it really only port forwarding and we need to decide that ports are forwarded before starting connections.
Also take in account OpenVPN is supposed to connect networks, so it more suitable for our needs. Because we can mark connection from

[2016-08-30 16:04] bmicklea commented on #108
@eivantsov - is this part of the 1.0 release?  If so can you add the milestone label?

[2016-08-30 18:12] ZhangHangdong commented on #121
Yes. Absolutely simpler!

[2016-08-30 19:40] TylerJewell commented on #95
@eivantsov - I think in your description, the device is the remote machine :).  So I think you are saying:
1: Service running on the device to start an OpenVPN server and advertise two IP addresses: <artik-ip> && <artik-terminal-ip>
2: A service deployed in a Che / Codenvy workspace agent, which can discover <artik-ip> and <artik-terminal-ip> for a particular "remote" device.
3: An OpenVPN client

[2016-08-31 08:38] eivantsov opened #137 "Release Artik 1.1.0"
Release Artik 1.1.0 from current Che master

[2016-08-31 12:16] riuvshin commented on #137
Done.

[2016-08-31 12:16] #137 closed

[2016-08-31 16:19] ZhangHangdong opened #138 "Easier to Use ARTIK IDE as Desktop IDE"
Through my past testing, I think it is better for us to easier to use ARTIK IDE as desktop IDE.
So I think we should support the following 2 scenarios:

**Easy to install**
1> Provide a installation tool to one-click install ARTIK IDE to developer’s laptop/PC (Win7)
2> During installation and my daily development, I want to do nothing to virtualbox, docker … except the command of ARTIK IDE itself,

[2016-08-31 16:25] ZhangHangdong opened #139 "Compile, Execute, Debug Simpler"
Through my past testing, I think it is better for us to easier to compile/execute/debug codes.
So I think:

**1. I need self-define commands, but I do not want write them for every projects, because most of them are same, I need a common/default configuration to compile/execute/debug codes easier and faster.**
![capture](https://cloud.githubusercontent.com/assets/20865878/18137278/91206be8-6f5c-11

[2016-08-31 16:50] TylerJewell commented on #139
@ZhangHangdong - this is super interesting.  @slemeur - would the "Play" and "Debug" buttons be restructured?  We could have a default play, but we could have a little drop-down indicator.  If you just click the button in the center, it will build.  However, if you click the drop-down indicator (much smaller), then we would drop down the list of commands, ability to edit commands.   We could do th

[2016-08-31 16:51] TylerJewell commented on #139
@ZhangHangdong - if this improvement was made - this would probably need to be an upstream improvement into Eclipse Che - so we may need to push this issue over there for tracking.

[2016-08-31 18:01] #121 closed

[2016-09-01 00:26] v-prabhu opened #140 "Artik Che is not downloading"
Hi, I am trying to install Artik Che in my Windows 7 system. But unable to download the expected Artik Che. Always landing up pulling/downloading the files for Eclipse-che.
Used following steps to configure and install Artik Che:
1) Downloaded and installed Docker 1.12.0
2) Used "docker run hello-world" to verify the docker. This worked fine.
3) Used following commands to download artik-ide.bat an

[2016-09-01 00:30] TylerJewell commented on #140
Hi @v-prabhu - let's see if we can help you out.

It seems that you are inside the bash shell when you should be in the dos prompt. Can you just open up a DOS prompt and run `artik-ide info` and provide the results?

If this continues to report the `codenvy/che-server` then I am rather perplexed, so I would ask you to then do:
[code]

[2016-09-01 06:56] eivantsov commented on #140
@v-prabhu you can also set the latest version:

`set CHE_VERSION=latest`

[2016-09-01 08:07] #95 closed

[2016-09-01 08:10] eivantsov commented on #114
Proposed solution to Samsung team. Waiting for their feedback.
![resin](https://cloud.githubusercontent.com/assets/5337267/18160136/9358fff0-7034-11e6-9d65-e8592c3e0966.png)

[2016-09-01 08:10] #114 closed

[2016-09-01 08:34] #123 closed

[2016-09-01 13:54] eivantsov opened #142 "Improve debugger experience"
The motivation of this task is to improve debugger experience for Artik IDE users.

Improvements proposed:

1. A user right clicks the binary file in the project tree
2. Debug item shows up in the context menu
3. List of devices is shown when you hover on Debug menu
4. A user chooses a device and clicks
5. The binary is sent to a tmp location on the target
6. gdbserver is started on port 1234
7. d

[2016-09-01 14:07] eivantsov opened #143 "Login to Artik Cloud"
A developer should be able to get auth token to make api calls to Artik Cloud https://artik.cloud/

There should be a menu item - Connect to Artik Cloud

[2016-09-01 17:39] ZhangHangdong commented on #140
Hi,
Please see the attached screenshot for artik-ide info in DOS command prompt.
![capture2](https://cloud.githubusercontent.com/assets/20865878/18177740/62b32636-7030-11e6-9230-616f5d936d95.PNG)

[2016-09-01 17:43] TylerJewell commented on #140
@v-prabhu - we think we have uncovered a bug in the launcher. YOu can fix this by saying `set CHE_VERSION=nightly`, and it should overcome the problem.  We are researching a fix.  We suspect it is an issue with DockerHub - as the "latest" image is tagged properly, but for some reason it keeps downloading the old one!

[2016-09-01 18:43] TylerJewell commented on #140
@v-prabhu - we found a small bug in the CLI.  We have issued a corrective fix - and it should be good now.  The issue was that if there were no CHE_ variables set, then the wrong configuration was being loaded.  This updated pull request will solve the issue.  If you re-curl the file, you will not have this problem again.

https://github.com/codenvy/artik-ide/pull/144

[2016-09-02 05:48] eivantsov commented on #139
@TylerJewell this is VERY Artik specific use case. Every compilation command is unique especially when it comes to apps that use Artik SDK.

This is what we are going to implement to make debug basically a 1 click operation - https://github.com/codenvy/artik-ide/issues/142

However, this is relevant for Artik only.

[2016-09-02 05:51] eivantsov commented on #139
@ZhangHangdong as you can see commands to compile are different. Each sample has a different command since it uses different parts of the SDK.

We may create a universal command though to have `-I$CPATH/connectivity` `-I$CPATH/systemio` and so on.. this way every sample will compile. The the flow (for Artik) will be

1. Select source file - click compile
2. Select binary - click run on Device
3. S

[2016-09-02 06:12] eivantsov commented on #140
@v-prabhu @ZhangHangdong please let me know if this fix helps.

[2016-09-02 06:23] #124 closed

[2016-09-02 06:25] eivantsov commented on #127
@laralijuan how did you compile the binary?

I was able to compile the binary in a workspace and run a hello world on the device

This is my compile command:

`cd ${current.project.path} && $CC -g test.c`

Please note that I use `$CC` in my command which is https://github.com/eclipse/che-dockerfiles/blob/master/recipes/artik/Dockerfile#L10
![debug](https://cloud.githubusercontent.com/assets/533726

[2016-09-02 06:38] eivantsov commented on #126
@ZhangHangdong any update on this?

[2016-09-02 06:39] eivantsov commented on #125
@ZhangHangdong proposed solution:

1. When connecting a device, check if rsync and gdbserver are installed and if not, suugest a user that these should be installed.

[2016-09-02 07:00] eivantsov commented on #122
Can you git clone in the terminal of the workspace machine? It looks like there are networking issues in the docker container.

is this still reproducible?

[2016-09-02 07:01] eivantsov commented on #120
@laralijuan is the behavior clear for you now?

[2016-09-02 07:02] eivantsov commented on #113
@laralijuan i am going to close this one. Please open an issue in Che project if you haven't done so before.

[2016-09-02 07:02] #113 closed

[2016-09-02 07:09] eivantsov commented on #99
@TylerJewell do we still need this? docker syntax is self sufficient I think

[2016-09-02 08:11] ddementieva commented on #109
Issue registered https://github.com/eclipse/che/issues/2310

[2016-09-02 08:11] #109 closed

[2016-09-02 10:18] TylerJewell commented on #99
No.  This should be removed for the Artik repository.  We will maintain vagrant on the core Che repo.

[2016-09-02 13:40] TylerJewell commented on #139
@eivantsov - I am going to create a cross-cutting issue for Che as well.  While this came up in the context of ARTIK IDE, I think we could re-design the edit-commands drop down into a syntax that @ZhangHangdong is suggesting. Our behaviors would essentially be the same, but we can make a little UX design change that improves usability for new users to the system.

[2016-09-02 14:42] #87 closed

[2016-09-02 16:32] ZhangHangdong commented on #140
@eivantsov @TylerJewell Actually. I and @v-prabhu  have the same configurations (we both set CHE_DATA_FOLDER=%userprofile%/%subdirectory%) and command steps. But we got the different result. I installed Artik IDE (right), but @v-prabhu installed Che (wrong).

@v-prabhu also set CHE_VERSION=nightly, but still installed Che (wrong).

But After he set CHE_DATA_FOLDER=/C/Users, it fixed. Amazing! (he

[2016-09-02 17:59] ZhangHangdong commented on #139
@TylerJewell @eivantsov  Thank you very much!

@eivantsov I understood that there ware some technical restrictions, make us had to do like this. But I think maybe we can do some workaround to reach it.

1st,
I do not think "Select binary" before "click run/debug" is good, because I need 4 steps (I think 3 is enough) to run/debug my codes.
1. Select source file
2. click compile
3. find binary and s

[2016-09-02 18:05] JamesDrummond opened #146 "Debug without breakpoints set"
When I start the debugger without breakpoints set there is a "loading.." popup window that will not go away.

![issue2](https://cloud.githubusercontent.com/assets/20580888/18213320/3f91e678-710d-11e6-842a-9c4e31d96682.gif)

When I start debugger with breakpoints debugger works as expected. However if I remove all breakpoints there is a "loading.." popup window that will not go away.

![issue1](htt

[2016-09-02 18:21] ZhangHangdong commented on #126
Sorry, I need more verification on different environment, to find out the key point of this functions.
I think for this issue, I think it has fixed. I can close this issue.

[2016-09-02 18:21] #126 closed

[2016-09-02 18:47] ZhangHangdong commented on #125
@eivantsov Can we install rsync and gdbserver automatically? I guess maybe you are worry about the situation that no dnf configuration on user's board.
I propose that we install them once. Just install, do not need to do anything for dnf. If failed to install, then suggest user DIY.

[2016-09-02 21:09] JamesDrummond commented on #146
We need to see if there is a way to remove the "loading..." popup and add a status indicator or running icon somewhere else, maybe in debug window, to notify user that program is running.

Endless loop programs will often be used for Artik applications such as controllers, robotics etc. We need a way to load breakpoints on a running process. The following is how I am able to do this manually. It i

[2016-09-02 21:50] TylerJewell commented on #140
Gentlemen - I can confirm that there is a bug with both windows directories that have a space in them AND with directories that have a period in them.  We will explore scenarios on how we can resolve this.

[2016-09-02 23:36] TylerJewell commented on #140
Hi everyone - we may have found some solutions to the windows paths with spaces and dots in them.  We are testing some fixes with Che.  If these improvements pass the QA cycle, then we may have a solution.  We just tested this on windows with boot2docker on a directory with spaces and dots and it passed.  We need to test on Mac, docker for windows, ubuntu, and centos.

https://github.com/eclipse/c

[2016-09-04 14:37] laralijuan commented on #122
@eivantsov yes, I can git clone successful in workspace's default machine.

I have set proxy for testing PC and workspace (in che.properites), both of them can git clone success. but still creating artik sample project failed.

[2016-09-04 18:18] eivantsov commented on #139
@ZhangHangdong , selecting binary to run/debug is unavoidable. Don't you  select a binary to run locally? Of course, we may make an assumption that binary name is a.out and expect it to be in the project toot.

As to command that will be universal, I solved it. Not a problem anymore.

I think that selecting source file and binary  isn't difficult. It's quite intuitive too.

[2016-09-05 05:42] eivantsov commented on #139
@ZhangHangdong would it help if a user can:

1. Configure compilation options (Project > Configure Compilation Options)
2. Configure binary name (Same menu)

The entire flow is:

1. A user creates a project
2. A user configures compilation options (optional. By default a project is configured to be using Artik SDK, and the default binary name is a.out)
3. A user selects source file and clicks Comp

[2016-09-05 06:07] laralijuan commented on #120
@eivantsov For the "sync project files" feature, it is OK.
For the "Push to Device", IDE 1.0.0 has the path error when doing the second "Push to Device" operation.
you can reproduce the issue by my aboved description (step 6~9)

[2016-09-05 06:39] laralijuan commented on #127
@eivantsov  Thank you. It runs well when using $CC or $CXX

[2016-09-05 14:56] TylerJewell commented on #99
Closing as won't fix - moved to docker launcher.

[2016-09-05 14:56] #99 closed

[2016-09-05 14:58] TylerJewell commented on #140
@ZhangHangdong @v-prabhu - we have solve this issue.  It is fixes in the che-launcher. They were merged today and then will be available as part of the nightly image starting tonight.  As long as you do an `artik-ide update --force` starting tomorrow morning (get latest CLI), then you should be able to set CHE_DATA_FOLDER to a directory with a period or a space.

[2016-09-05 14:58] #140 closed

[2016-09-05 16:34] #127 closed

[2016-09-06 01:47] ZhangHangdong commented on #139
@eivantsov cool! it is great! I think your flow is more reasonable and will practical. Thank you very much. And I totally agree with you, this is not a problem. Anyone please change this issue to "enhancement".

[2016-09-06 01:49] ZhangHangdong commented on #138
Any response?

[2016-09-06 04:17] eivantsov commented on #139
@ZhangHangdong @TylerJewell yes, this will be scheduled for the next sprint. I expect that this will dramatically simplify com pile-run-debug flow, especially for new users (and sample apps)

[2016-09-06 14:05] TylerJewell commented on #138
In the past, we supported a native platform installer for Eclipse Che 3.x. It had a number of challenges with it.  To perform a proper installation, all of the following needs to be true:
1: There are more than 15 different packages for Docker, so it would have to bundle the appropriate ones.
2: For the installer to be open source, there are limited packaging technologies that can be applied.
3: O

[2016-09-06 16:49] bmicklea opened #148 "Investigation: determine how to install needed RPMs on ARTIK device"
**Problem**
The ARTIK IDE starts and the workspace has everything needed, but the device is missing a set of RPMs as a result things won't run properly.

**Resolution**
Best solution: The ARTIK device would come with the full set of RPMs installed.
Better solution: The ARTIK developer profile includes the list of RPMs needed.
Okay solution: Document RPMs needed in the documentation.

[2016-09-06 16:49] bmicklea commented on #148
@dangssi - can you or Greg please provide the list of RPMs?

[2016-09-07 08:25] #112 closed

[2016-09-07 08:55] #115 closed

[2016-09-11 20:08] JamesDrummond opened #150 "New ARTIK Command Type."
I would like to see a new command type for ARTIK IDE that gives the user the ability to compile and run in separate target environments with a single command definition. Currently the user has to manually switch the target back and forth each time she/he switches the cmd from `build` to `run` command definitions. Below is an outline UI changes that could be provided to enable this feature.

![arti

[2016-09-12 07:35] eivantsov opened #151 "Cannot run workspaces from non-Artik stacks"
Steps to reproduce:

1. Start a workspace from a non-Artik stack

Workspace agent fails to start because API docs component looks for `/root/.apidocs` folder (used to parse html and .js files - context sensitive help feature).

Workspace agent should be able to start irrespective of this particular directory in a workspace environment.

[2016-09-12 14:52] JamesDrummond commented on #150
Issue #139 should be able to compile on ws and run in artik device. This issue enhancement therefore will not be pursued.

[2016-09-12 14:52] #150 closed

[2016-09-13 14:46] vparfonov opened #152 "Artik IDE does not work with Che 5.0.0"
We have problem after changing environment model. Previous in 4.x version we consider Artik Device as SSH machine. Now it's not working.

[2016-09-14 03:15] ZhangHangdong opened #153 "Failed to create sample project if I use proxy."
When I used proxy, and after I set the related configurations, all functions on dashboard can work well (include update SDK/API), but always failed to create sample project, because it can not clone sample codes from github.com.
But, I can clone the codes by using command directly.
So, I think, the function of creating sample project on dashboard, does not consider proxy scenario.

I am using prox

[2016-09-14 09:28] eivantsov commented on #153
@ZhangHangdong how did you set up proxy settings for a workspace?

It looks like console git picks them up since they are exported system wide. However, in the IDE we use JGit that is deployed with a workspace agent. Thus, Java in the workspace should be able to see these envs as well.

Can you run the following in the workspace and share the output?

`ps ax | grep che`

[2016-09-18 06:29] ZhangHangdong commented on #153
I built IDE server in a independent Linux server, and set workspace proxy as:
![0](https://cloud.githubusercontent.com/assets/20865878/18613329/ab88e9c2-7daa-11e6-97fd-922e5add1f48.PNG)

and start IDE service by the command:

The following is the output you want know:
![default](https://cloud.githubusercontent.com/assets/20865878/18613367/e9e62166-7dab-11e6-800c-6a511eb3fd40.PNG)

Please let me kn

[2016-09-20 09:44] eivantsov commented on #153
@ZhangHangdong thanks for the screenshot. Bug confirmed. When exporting http proxy we just add it to env to the workspace container. However, Java needs own envs.

This is not just Artik issue but Che as well.

[2016-09-21 09:38] eivantsov commented on #148
@bmicklea I think we're taking care of this in https://github.com/codenvy/artik-ide/issues/125

I have tried a virgin device and it had everything except for rsync and gdb.

[2016-09-21 19:19] bmicklea commented on #148
Closed as duplicate of #125

[2016-09-21 19:19] #148 closed

[2016-09-28 07:55] #111 closed

[2016-09-28 08:05] #110 closed

[2016-10-04 08:44] eivantsov opened #157 "Check if required software package is installed on Artik device"
This is a follow up for https://github.com/codenvy/artik-ide/issues/125

When connecting to Artik device we need to check if rsync and gdbserver are installed. If not, offer a user to turn on development profile (already implemented).

If rsync and gdbserver aren't installed, the following dialog should pop up:

"Rsync and/or gdbserver not found in %PATH on ${device-name}. This will result in proj

[2016-10-05 09:07] eivantsov opened #158 "Remove Targets and CMD widget from Artik IDE"
There needs to be a way to remove the abovementioned widgets since there will be build a compile buttons that will cover the needs of Artik developers.

[2016-10-05 09:24] eivantsov opened #159 "Artik commands extension should be able to provide compile, run and debug buttons"
Compile, run and debug buttons should be placed onto the toolbar instead of targets and CMD widget https://github.com/codenvy/artik-ide/issues/158

[2016-10-05 09:44] eivantsov opened #160 "Run and debug command should not require path to binary"
Since binary name is saved in project attributes and projects are replicated onto the device all we need is project context to know location of binaries on the device.

Currently, binary has to be selected in the project tree.

[2016-10-05 13:11] eivantsov opened #161 "rsync.sh works with the default 22 port only"
If a different port is used to ssh into the device, rsync.sh fails since it assumes Artik device is connected over port 22.

Adding -p $PORT fixes the issue, so we need to make sure port can be provided as an argument to script:

`sshpass -p $PASSWORD rsync --archive --update --recursive --delete --rsh="ssh -o -p $PORT StrictHostKeyChecking=no -l $USERNAME" $FROM $USERNAME@$HOST:$TO`

[2016-10-05 13:32] eivantsov opened #162 "Rework artik-samples project in samples.json"
Artik samples repo is now a collection of folders with commands that are tied to folder names - https://github.com/codenvy/artik-ide/blob/master/assembly/assembly-main/src/assembly/templates/samples.json#L25-L163

With changes coming from a new  compile-run-debug flow, each sample program (folder) needs to be a project with own project attributes.

[2016-10-11 07:13] lvbin0127 opened #167 "Build Eclipse che download Codenvy Maven repository always failed"
Currently we are building local Maven repository, but we meet some issues: limited by network condition, Codenvy Maven dependency resource download always failed and it seems Codenvy Maven repository is not support breakpoint resume, so after trying download from Codenvy Maven repository, we are try to find another way to solve this issues, there is a solution for this issues, please give us some

[2016-10-11 08:45] #139 closed

[2016-10-11 09:04] #142 closed

[2016-10-11 18:02] TylerJewell commented on #167
@eivantsov @riuvshin @bmicklea - FYI.

[2016-10-12 02:58] ZhouAllan commented on #167
In order to develope Artik IDE, which packages we must download? "http://maven.codenvycorp.com/content/repositories/public/org/eclipse/che/" and "http://maven.codenvycorp.com/content/repositories/public/org/eclipse/artik/" are enough?

[2016-10-12 06:12] eivantsov commented on #167
@lvbin0127 @ZhouAllan we'll be sending Samsung team zip with all deps.

[2016-10-12 06:19] lvbin0127 commented on #167
Thank you very much, so how can you send zip to us? method as we motioned in email (Onedirve Cloud)?

[2016-10-12 06:22] eivantsov commented on #167
@lvbin0127 we'll send the url where you can download it and then use as you think appropriate.

[2016-10-12 11:00] ZhouAllan commented on #167
The blocking issue is emergency, we have block download depedency resource for a long time, please provide url as soon as possible, thanks.

[2016-10-12 11:07] ZhouAllan opened #171 "After create local Maven repository, why alway download dependency resource from Codenvy"
We have create local Maven repository and edit POM file in root of Artik ide project as follow:

[code]

But when we build Artik ide, it always download resource from Codenvy as follow:

[code]

after download from local Maven, it redirect to Codenvy, it there any place we are miss to edit?

[2016-10-12 11:29] #128 closed

[2016-10-12 14:28] bmicklea commented on #146
I think we need to handle the following use case, especially for junior developers who may not be familiar with debugger behavior. Junior developers are a primary target for the ARTIK IDE.

*Use Case*: A user starts the GDB debugger with no breakpoints set, then realizes that they need one. So the user clicks a new breakpoint in the editor with the debugger working and is confused because the new

[2016-10-12 16:27] eivantsov commented on #167
Zip sent via email

[2016-10-13 02:13] lvbin0127 commented on #167
Base on China network policy, we can not download resource from Google, so can you send deps to the cloud that we provide to you in the email?

[2016-10-13 04:07] lvbin0127 commented on #167
I have a question: is every artik-ide version corresponding one specific deps? if that, what aritk-ide version is corresponding to the deps that you send to us?

[2016-10-13 19:56] bmicklea commented on #167
@lvbin0127 I have responded in email - the link you'd sent isn't working for me.

[2016-10-14 03:34] lvbin0127 commented on #167
I have download deps from Google cloud, thank you very much.
But today, i download che 4.7 and put deps into my local repository, when i use Eclipse to build Che (use offline mode) it always failed and display as follow:
[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[FATAL] Non-resolvable parent POM for org.eclipse.che:che-parent:4.7.0: Cannot access codenvy-public-repo

[2016-10-14 10:14] eivantsov commented on #171
@ZhouAllan where do you execute `mvn clean install`? In the root or `assembly` dir?

[2016-10-14 13:04] slemeur commented on #167
The dependencies don't seem to be in the local Maven repository.

Could you check what you have in you `.m2/org/eclipse/che/che-parent/` ?

[2016-10-14 15:24] eivantsov commented on #167
@lvbin0127 did you try to build Artik IDE without Eclipse, just using Maven - `mvn clean install -o`.

Also, please note that the zip contains sources of other projects that need to be built in this particular order:

`che-parent`
`che-dependencies`
`che-lib` requires Go installed
`che` requires npm, bower and gulp installed
`arrtik-ide`

The best way to to that is to use a special Docker image wi

[2016-10-15 03:12] laralijuan opened #172 "Cannot open the machine's terminal at console panel"
**Description of problem:**
1. In ARTIK IDE, the created machine's terminal cannot be opened.
2. There is no "+" option in "Manage Artik Device" dialogue.

**ARTIK IDE version:**
ARTIK IDE binaries: samsung-artik-ide-nightly (2016/10/13)
Docker version: 1.12.0
Java version: 1.8.0_101
Environment details: Ubuntu 14.04 LTS + Docker + JDK
Browser: Firefox

**Steps to Reproduce:**
1. get samsung-artik

[2016-10-15 22:41] eivantsov commented on #172
@laralijuan can you give it a try in an incognito tab? I have downloaded the zip and run it - no issues found.

![image](https://cloud.githubusercontent.com/assets/5337267/19413809/3e28c3e6-92f6-11e6-8398-3e11b1604b0e.png)

[2016-10-17 00:54] laralijuan commented on #172
@eivantsov I check it following your suggestion, It works well in incognito tab and chrome.
ARTIK IDE 1.0.0 can display well in firefox's common tab, but why the subsequent version cannot?

[2016-10-17 02:02] ZhouAllan commented on #171
@eivantsov In the root folder of artik-ide

[2016-10-17 22:18] eivantsov commented on #171
@ZhouAllan the zip package you have got container maven repo and projects that need to be built before you build artik IDE.

These are:

che-parent
che-lib
che-dependencies
che

Only after you have successfully built those projects, you can build Artik IDE.

Che and che-lib actually require Go, Node.js, npm, bower and gulp. So, the best way to use Docker to do that:

`docker run -ti  -v /path/to/p

[2016-10-17 22:48] eivantsov commented on #157
@vparfonov @dkuleshov The current behavior does not have checking mechanism and we always offer dev mod when connecting to a device while we should be smart enough to detect if rsync and gdbserver are installed, and if they, are DO NOT open this dialogue as it makes no sense.

[2016-10-18 12:26] #159 closed

[2016-10-19 02:56] laralijuan opened #176 "ARTIK IDE Launching problems on Win7"
**Description of problem:**
Cannot enter ARTIK IDE's created workspace from browser

**ARTIK IDE version:**
ARTIK IDE binaries: samsung-artik-ide-nightly (2016/10/14)
Docker version: 1.12.0
Java version: 1.8.0_101
Environment details: **Window 7** + Docker toolbox + JDK
Browser:Chrome

**Steps to Reproduce:**
1. Open the win7's cmd console
2. $cd {artik-ide-binaries-path}\bin
3. $che run
log shows

[2016-10-19 03:26] laralijuan opened #177 "Cannot open the IDE in browser when using docker launching way on Win7"
**Description of problem:**
Cannot open the IDE in browser when choosing the docker launching method on Win7

**ARTIK IDE version:**
ARTIK IDE binaries: samsung-artik-ide-nightly (2016/10/14)
Docker version: 1.12.0
Java version: 1.8.0_101
Environment details: **Window 7** + Docker toolbox + JDK
Browser:Chrome

**Steps to Reproduce:**
1. Open the win7's cmd console
2. $docker-machine env default
3.

[2016-10-19 10:39] lvbin0127 opened #178 "How to copy local file to ARTIK board?please give us some comments."
![save file](https://cloud.githubusercontent.com/assets/7456723/19515440/0774773c-962a-11e6-9f64-2ae7542098f7.png)
We have two solutions, which one is better?

[2016-10-19 12:05] #151 closed

[2016-10-19 12:48] TylerJewell commented on #177
Hi @laralijuan - this is a super weird issue.  In looking at the logs, it does seem that Che has booted just fine.  In looking around the internet, the ERR_EMPTY_RESPONSE is an indication of a networking configuration issue on your host machine.  for example: https://www.wiknix.com/solved-err_empty_response-no-data-received/.

Can you provide:
1. What is the IP address and data dump of the configu

[2016-10-19 13:47] CGM-Face commented on #153
Any news about this bug?

[2016-10-19 14:28] eivantsov commented on #178
@lvbin0127 If you have a local file, you may upload it to the project, and it will be synced into the device to the projects replication folder.

[2016-10-19 14:46] ddementieva commented on #176
@laralijuan Are there any errors in the browser dev console?

Can you send a screenshot with browser dev console opened?

[2016-10-19 16:51] TylerJewell commented on #176
@laralijuan - this issue means that your workspace and your che-server are able to communicate with each other.  However, this particular error means that the browser is unable to reach the workspace itself.  This is due to a configuration issue, for which you can set certain che.properties to overcome.  For the sorts of things that you can reconfigure to tell the browser how to connect to a works

[2016-10-20 03:35] lvbin0127 commented on #178
Sorry, it was my mistake, i want to install some rpm package from local host to ARTIK board by ARTIK IDE, so is that possible by upload rpm file to ARTIK board by ARTIK IDE and use command executer in ARTIK IDE to install rpm in ARTIK board, because if upload rpm to project, user will see this rpm file in project workspace, right?

[2016-10-21 04:00] lvbin0127 opened #179 "che.sh can not be run in master branch code"
I took ide master branch lastest code and complie success, but when i run che.sh, it always failed and display as follow:
lvbin@lvbin-OptiPlex-9020:~/artik_ide/base-ide-code/artik-ide/assembly/assembly-main/target/artik-ide-1.2.0-SNAPSHOT/artik-ide-1.2.0-SNAPSHOT/bin$ ./che.sh -r:109.105.112.245
-bash: ./che.sh: /bin/bash^M: bad interpreter: No such file or directory
can you give me some comments?

[2016-10-21 05:52] #179 closed

[2016-10-22 01:07] lvbin0127 commented on #178
scp can only run on Linux system, but if user run ide in Windows, it seems impossible, how  to solve this issue?

[2016-10-24 14:36] #157 closed

[2016-10-24 14:54] #125 closed

[2016-10-24 15:03] #161 closed

[2016-10-26 11:54] vparfonov opened #183 "Try Artik IDE with Hosted version of Codnevy"
1. Need to add Artik Puugin to Codenvy package
2. Start this package on some acceptance and try to connect to the devices

[2016-10-27 08:32] mkuznyetsov opened #185 "Simplify names of che.properties to be user friendly"
See Eclipse Che original issue for details:
https://github.com/eclipse/che/issues/2015

Needs to update che.properties file with new names, add aliases file to support possible old code.
Update usage of properties, system properties, environment variables in our code to new ones.

[2016-10-27 18:03] v-prabhu opened #186 "Error message in Import Zip dialogue"
Click on Import project. Click on zip file option. Error message displayed before even typing the zip file path.
![import](https://cloud.githubusercontent.com/assets/21373498/19779222/0273ddfc-9c35-11e6-9bfc-2dd768f1d17b.PNG)

[2016-10-27 18:05] v-prabhu opened #187 "Error message before specifying the file name while creating new file"
Right click the empty work space. **New** is enabled. Click any option "**New Java Script File/New C file" etc**. Error message appears in the alert before entering anything.
![error before typing](https://cloud.githubusercontent.com/assets/21373498/19779265/4435df24-9c35-11e6-8ea1-fcc105f86330.PNG)

[2016-10-27 18:06] v-prabhu opened #188 "Importing Zip folder imports only files, not the entire folder in the zip."
Click on Project->Upload Folder. Pop up appears to add the zip file. Select a zip folder in the PC and Upload. Only the files under the folder will be added. Not the entire folder.

[2016-10-27 18:06] v-prabhu opened #189 "No provision to Run the binary file directly on the device"
No provision to Run the binary file directly on the device. User has to Push the file to device and run manually from terminal.

[2016-10-27 18:08] v-prabhu opened #190 "Multiple error message pop ups for Connection lost with terminal"
Multiple error message pop ups for Connection lost with terminal.
![multiple errors](https://cloud.githubusercontent.com/assets/21373498/19779363/a34b1312-9c35-11e6-8d1d-2d336dded09f.PNG)
![multiple errors for new workspace](https://cloud.githubusercontent.com/assets/21373498/19779367/a6e09060-9c35-11e6-8caa-a9eb4acda58c.PNG)

[2016-10-27 18:09] v-prabhu opened #191 "Multiple error messages "Failed to connect terminal" even if the new workspace is created"
Delete workspace to which Artik board is connected. Create new workspace. Multiple error messages "Failed to connect terminal" pop up. Though the attached device no longer available with the new workspace.
![multiple errors for new workspace](https://cloud.githubusercontent.com/assets/21373498/19779395/cbbccdcc-9c35-11e6-8b4e-d678fdfa11f0.PNG)

[2016-10-27 18:10] v-prabhu opened #192 "Default projects are not loaded in workspace until change the tabs"
![projects not loaded](https://cloud.githubusercontent.com/assets/21373498/19779466/1568e244-9c36-11e6-9310-4f30c5aba545.PNG)
Created work space does not have default project selected. User has to change the tabs to see the projects added.

[2016-10-27 18:27] v-prabhu opened #193 "Need to reconnect whenever artik board restarts"
Need to disconnect and connect the device everytime the artik board is switched on. Though IP address not changed.
![reconnetion](https://cloud.githubusercontent.com/assets/21373498/19779991/4eff46d6-9c38-11e6-90a7-7e5e8237a2cf.PNG)

[2016-10-27 18:29] v-prabhu opened #194 "Update SDK and API ends up with error and already installed sdk is deleted"
Update SDK and API
![update failed](https://cloud.githubusercontent.com/assets/21373498/19780060/9b21aea0-9c38-11e6-82b5-86581b94ffe5.PNG)
 not working as expected. Click on Update SDK and API. Pop up appears with the installed SDK. Click on Install. Gives error and already installed SDK is deleted.

[2016-10-30 02:14] #172 closed

[2016-10-30 07:44] eivantsov commented on #193
@v-prabhu we treat Artik as a remote SSH machine. When a connection is lost, the  IDE cannot connect to a terminal. There's no automatic re-connect feature at the moment.

[2016-10-30 07:46] eivantsov commented on #194
@v-prabhu these are commands that are executed on SDK update - https://github.com/codenvy/artik-ide/blob/master/plugins/plugin-artik-ide/src/main/resources/org/eclipse/che/plugin/artik/ide/updatesdk/installSdkOnDeviceCommand

Odds are that the updates repository was unavailable at the moment you ran SDK update. Can you repeatedly reproduce it?

Please, note that we have update codenvy/artik image

[2016-10-30 07:48] eivantsov commented on #192
@v-prabhu can you elaborate? Yes, project explorer is empty if there are no projects selected when starting a workspace.

[2016-10-30 07:49] eivantsov commented on #190
Duplicate of https://github.com/codenvy/artik-ide/issues/191

[2016-10-30 07:49] #190 closed

[2016-10-30 07:50] eivantsov commented on #189
@v-prabhu this is part of the new compile-run-debug flow. We will release it in the upcoming days.

[2016-10-30 07:55] eivantsov commented on #188
@v-prabhu this is expected behavior. Upload folder automatically unzips archive content. If you want to upload a zip file, you should upload file.

[2016-10-30 07:55] #188 closed

[2016-10-30 07:55] eivantsov commented on #187
@v-prabhu Labeling as enhancement.

[2016-10-30 07:56] eivantsov commented on #186
@v-prabhu labeling as enhancement

[2016-10-31 07:25] eivantsov commented on #191
@v-prabhu can you reliably reproduce it?

FYI, in the current master terminal is delivered as an agent, i.e uses a different delivery mechanism. I cannot reproduce this one.

[2016-10-31 15:18] vparfonov commented on #162
https://github.com/eclipse/che/issues/2937

[2016-10-31 17:39] eivantsov opened #195 "Disable run and debug when no binary is selected"
As per subject. It should not be possible to click run or debug when a source file is selected.

[2016-11-01 07:50] svor commented on #185
Have done in this PR: https://github.com/codenvy/artik-ide/pull/184

[2016-11-01 07:50] #185 closed

[2016-11-01 07:53] #152 closed

[2016-11-02 10:42] svor commented on #195
Have done in the PR: https://github.com/codenvy/artik-ide/pull/196

[2016-11-02 10:42] #195 closed

[2016-11-02 10:51] eivantsov opened #198 "Save artik devices to user prefs"
Having updated to 5.0.x Artik devices are saved as long as the workspace lives. We should save devices into user prefs, so that workspace restart does not cause troubles for a user.

We need to save all info about the devices - hots, port, user, pass, replication folder.

[2016-11-02 17:43] v-prabhu opened #200 "artik-ide.sh start issue"
Hi,
I am trying to install and start IDE from a fresh system. However, when I try “./artik-ide.sh start” I am getting the error. Please see the image below for more info. Let me know how to resolve this. Tried googling and verified the user rights. Everything seems fine.
Please have a look and let me know if anything is missing.
![ide issue](https://cloud.githubusercontent.com/assets/21373498/1994

[2016-11-02 17:56] gazarenkov commented on #198
I'd say it has to be saved in project attributes instead.
AFAIK you avoid making dedicated PT (mixin) for Artik, I'd recommend to make it and store this kind of info there.

[2016-11-02 18:28] v-prabhu commented on #193
OK. But at least developer should be intimated to reconnect the device rather than multiple error messages. And in the "Manage Artik Devices" screen, the label of the "Disconnect" button should change to "Connect".

[2016-11-02 18:32] v-prabhu commented on #194
I think the error might be because of the Wi-Fi network issue. Let me try with Ethernet connection. However, as a developer I do not wish my Instaleld SDK to be deleted if the Update fails in the beginning. Please let me know your thoughts on this.

[2016-11-03 09:59] eivantsov commented on #194
@v-prabhu yes, good point. Let me think about it.

[2016-11-03 11:30] lvbin0127 opened #201 "Is there any method to get full path of file on local host on function file upload?"
When i use file upload function, i found it use FileUpload class, i want to get the full path of file on local host,such as  D:/test/test.txt, FileUpload class can't get the full path of file on local host based on security policy of browser, can you give me some comments about this issue?

[2016-11-03 12:07] eivantsov commented on #193
@v-prabhu yes, it does make sense. Labeling it as enhancement.

[2016-11-03 12:10] eivantsov commented on #200
[code]

Then start again with the ARTIK IDE instructions from here:
https://eclipse-che.readme.io/docs/samsung-artik-ide-getting-started#1-get-artik-ide-cli

[2016-11-03 12:11] eivantsov commented on #198
@gazarenkov Artik boards aren't bound to projects. Or workspaces. A developer needs his boards available for all projects. It's just connection information, device name etc.

[2016-11-03 12:19] TylerJewell commented on #200
This issue happened because the cli was still using the nightly che-launcher utility.  It was updated to assume a different type of Che server container which is not yet compatible with artik IDE.  We updated the cli to use tagged versions of Che launcher and server to fix this issue.

[2016-11-03 12:19] #200 closed

[2016-11-03 12:49] gazarenkov commented on #198
OK, I am not actually against of any preferences, just not sure this solution provides a good service in a case if you have more than one developers working on the same project b/c "development environment" (which part board is) may be not really "the same" for everybody.

[2016-11-03 13:57] eivantsov opened #202 "Make it possible to auto discover device when it's connected over USB"
Currently, we use adb to discover devices and IPs of their network interfaces. The command is triggered when a new device is manually added.

It should be possible to auto discover USB-connected devices, by running ADB devices command periodically, say, once every 3-5-10 seconds.

While it is always possible to discover adb devices and their IDs, it may be not possible to get its IP address, if wi

[2016-11-03 14:07] eivantsov opened #203 ""Disconnect" the IDE from a device if connection is lost"
When a device is rebooted or connection is lost for some reason, we should:

- disconnect from a device, so that it's removed from Consoles panel
- the IDE should display a popup saying that:

"Connection to ${device-id}" is lost. Would you like to reconnect to a device?"

Clicking OK will open Connect to device box.

[2016-11-03 14:07] eivantsov commented on #193
https://github.com/codenvy/artik-ide/issues/203

Please, follow this one.

[2016-11-03 14:07] #193 closed

[2016-11-04 03:53] lvbin0127 opened #204 "Use OutputStream class, compile failed"
I create a new class in ARTIK IDE project, in this class i use OutputStream class, it can work in a independent project, but when i put this class into ARTIK IDE project, compile failed and display:
[ERROR] Errors in 'jar:file:/home/lvbin/artik_ide/svn_checkout/svn/ArtikIDEDev/Code/00-Trunk/artik-ide-master/plugins/plugin-artik-ide/target/artik-ide-plugin-ide-1.2.0-SNAPSHOT.jar!/org/eclipse/che/pl

[2016-11-04 05:31] lvbin0127 commented on #204
I use JDK version is 1.8.0_71,is that OK?

[2016-11-04 06:15] lvbin0127 commented on #204
for example, i need to use rt.jar, this jar is a JDK package, how to import this package to our project, because there is no JDK package in the MAVEN repository that you provide to us.

[2016-11-04 06:29] lvbin0127 commented on #204
I want to create a socket and operate it, how to do that?

[2016-11-04 13:41] #198 closed

[2016-11-08 00:18] v-prabhu commented on #191
Hi, I can reproduce this every time when the device disconnects or update the workspace and restart.
![restartwprkspace-afterupdate-multiple error messages](https://cloud.githubusercontent.com/assets/21373498/20081652/d9bce0f0-a505-11e6-9489-c0d6b1ce1846.PNG)

[2016-11-08 09:59] eivantsov commented on #191
I see. It is related to https://github.com/codenvy/artik-ide/issues/203 and will be fixed.

[2016-11-08 11:30] eivantsov commented on #204
@lvbin0127

[2016-11-08 15:30] eivantsov commented on #201
@lvbin0127 JavaScript security does not allow doing that. At least, I do not see any obvious ways how this can be implemented.

[2016-11-10 10:47] eivantsov commented on #153
@ZhangHangdong @CGM-Face you can try add the following to `che.properties`:

`che.workspace.java_opts=-Xms256m -Xmx2048m -Djava.security.egd=file:/dev/./urandom -Dhttp.proxySet=true -Dhttp.proxyUser=testuser -Dhttp.proxyPassword=testpassword -Dhttp.proxyHost=proxy.example.com -Dhttp.proxyPort=3129 -Dhttps.proxyUser=testuser -Dhttps.proxyPassword=testpassword -Dhttps.proxyHost=proxy.example.com -Dh

[2016-11-10 11:02] CGM-Face commented on #153
Dosen't work. Same error message :(
![image](https://cloud.githubusercontent.com/assets/22750846/20174331/9bc2429c-a73d-11e6-9822-e0897a3c65c0.png)

[2016-11-10 11:03] eivantsov commented on #153
@CGM-Face can you run `ps ax | grep java` and share the screenshot?

[2016-11-10 11:05] CGM-Face commented on #153
![image](https://cloud.githubusercontent.com/assets/22750846/20174397/ebebee94-a73d-11e6-9dcd-57d9b8e7b7f9.png)

[2016-11-10 11:06] eivantsov commented on #153
How did you add this property? How do you run Che? As a Docker container? Natively?

[2016-11-10 11:11] CGM-Face commented on #153
I've added the new seetings at the end of my "che.properties" file.
![image](https://cloud.githubusercontent.com/assets/22750846/20174576/cf688682-a73e-11e6-958a-a1226b320512.png)

The run command is:
docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -e CHE_CONF_FOLDER=/etc/che -e CHE_HOST_IP=10.0.242.153 eclipse/che start

My che will be started as a docker container.

[2016-11-11 13:47] vparfonov opened #207 "Release Artik IDE 1.2.0"
Tag should be released from master branch of Atrik IDE repository.
Needed Che tag from this branch https://github.com/eclipse/che/tree/5.0.0-M7-artik

[2016-11-11 13:55] #160 closed

[2016-11-11 16:49] eivantsov commented on #153
`docker run -ti --net=host --rm -v /var/run/docker.sock:/var/run/docker.sock -v /home/eugene/Stuff/testche:/home/user/che/conf codenvy/che-server`

in `/home/eugene/Stuff/testche` I have my properties file. Please note that the property is `che.machine.java_opts`

[2016-11-11 17:15] riuvshin commented on #207
Done https://github.com/codenvy/artik-ide/tree/1.2.0

[2016-11-11 17:15] #207 closed

[2016-11-14 07:59] CGM-Face commented on #153
I've tried to start the CHE with your code:
docker run -ti --net=host --rm -v /var/run/docker.sock:/var/run/docker.sock -v /etc/che:/home/user/che/conf codenvy/che-server

The Server has been started, but I received the following error message:
![image](https://cloud.githubusercontent.com/assets/22750846/20256947/e926990a-aa46-11e6-9cc3-a86b6748fdd1.png)

If I combine to the CHE about the web brow

[2016-11-16 13:02] #203 closed

[2016-11-16 15:52] #194 closed

[2016-11-17 16:03] #186 closed

[2016-11-17 16:03] #187 closed

[2016-11-18 07:49] eivantsov commented on #177
@laralijuan

Can you please try it this way?

`git clone https://github.com/codenvy/artik-ide`
`artik-ide.bat start`

[2016-11-18 08:18] eivantsov commented on #153
@CGM-Face

Can you try using Che launcher instead?

https://eclipse-che.readme.io/docs/usage-docker

As you can see the server and the agent were able to reach each other but your browser could not do so. Are you running Che remotely? Can you share screenshot with a browser console opened to check for errors there?

[2016-11-18 08:23] eivantsov commented on #183
POC has been demoed to Samsung team. Waiting for some vision here.

[2016-11-18 10:20] #162 closed

[2016-11-18 10:21] eivantsov commented on #189
Closing the issue. New Compile-Run-Debug flow addresses it all.

[2016-11-18 10:21] #189 closed

[2016-11-18 10:21] eivantsov commented on #192
@v-prabhu any update please? Can you give it a try with the latest version please?

[2016-11-18 10:35] eivantsov opened #213 "Release 1.2.1"
As per subject.

[2016-11-18 11:20] riuvshin commented on #213
Done https://github.com/codenvy/artik-ide/tree/1.2.1

[2016-11-18 11:20] #213 closed

[2016-11-18 12:51] eivantsov opened #214 "Implement new compile-run-debug flow for CPP project types"
It should be identical to C project type, although compilation command will have one difference:

`$CXX` instead of `$CC`

[2016-11-18 13:26] eivantsov opened #215 "Rework connect to device behavior"
Current behavior:

When the connection to device is a success, the dialog window never closes. A user has to close it manually.

Desired behavior:

When the connection to device is a success, the dialog window should be automatically closed.

[2016-11-18 13:30] eivantsov opened #216 "Use node-js debugger with Artik-IDE"
Node-JS debugger plugin should be added to Artik assembly.

[2016-11-18 13:41] eivantsov opened #217 "Implement Run-Debug flow for Node.JS projects"
A user should be able to run and debug node.js apps on artik device.

Node command:

`node ${currently.selected.file}`

Debug command: @tolusha will share more details.

The issue is related to:

https://github.com/codenvy/artik-ide/issues/216

[2016-11-18 14:18] #158 closed

[2016-11-22 18:17] bmicklea opened #219 "Support latest iteration of ARTIK 5 family"
Devices will be made available:
- From Samsung over public IP
- From @bmicklea at his house

[2016-11-23 08:53] svor opened #220 "Check that a remote device is online"
Now we have a mechanism which checks the connection to the device in local network.
Also we have an ability to connect to remote device, so we need to verify this connection.
I propose to use these commands:
[code]
If it's 0 then device is available. If it's 1 than it's not.

[2016-11-24 08:11] laralijuan commented on #177
@eivantsov
I follow your suggestion and https://eclipse-che.readme.io/docs/samsung-artik-ide-getting-started
there is also errors
![1](https://cloud.githubusercontent.com/assets/20897963/20590689/9ede80e4-b25f-11e6-9838-d01d4f94f49c.PNG)

I check my docker installation, it works well. so does the Bash.
![2](https://cloud.githubusercontent.com/assets/20897963/20590754/f8bce4de-b25f-11e6-8512-1fc846

[2016-11-24 15:19] bmicklea opened #223 "Allow users to change production and development profile file contents / checks"
It should be possible to change the production and development profile file contents / checks to tailor them to a specific ARTIK project a company is working on.

If this is possible today with custom commands then this may be just a docs task.

[2016-11-24 15:32] bmicklea opened #224 "Create a set of CI jobs for testing ARTIK IDE builds against all relevant HW combinations."
Build out a library of ARTIK IDE versions and assemblies that are tested to work with each version of the ARTIK modules and the underlying Fedora operating system. This will be a kind of certified operational lab for each platform configuration.

An exact list of HW versions should be provided. ARTIK IDE software versions are 1.2.2.

This lab should be available to Samsung and Codenvy developers,

[2016-11-24 15:40] bmicklea opened #225 "Enhance C/C++ language services in ARTIK IDE"
The current support for C/C++ in the ARTIK IDE covers syntax highlighting but developers have requested richer support.

The open [language server protocol](https://github.com/Microsoft/language-server-protocol) offers a clean way to plug C/C++ language intellisense into the ARTIK IDE via an Eclipse Che plugin. However, there is currently no C/C++ language server available. More information on the

[2016-11-24 15:41] bmicklea opened #226 "Add syntax highlighting for ARTIK keywords"
This feature depends on Enhance C/C++ language services in ARTIK IDE #225

[2016-11-24 15:45] bmicklea opened #227 "ARTIK device emulation investigation."
This is an investigation issue, not an implementation one.

Investigate a full device emulator that can run within a snap or Linux kernel.  The goal would be to use device emulation as a way to speed rapid application prototyping and large training courses where access to sufficient numbers of physical devices is hard.

The goal of this issue is to create an epic with technical tasks and assignmen

[2016-11-24 15:58] bmicklea commented on #204
Closing to clean up old questions.

[2016-11-24 15:58] #204 closed

[2016-11-24 15:59] bmicklea commented on #201
Closing to clean up old questions.

[2016-11-24 15:59] #201 closed

[2016-11-24 16:00] bmicklea commented on #192
@v-prabhu I'm closing the issue as it seems inactive, but if you're still having problems please re-open and explain whether you have a project in the workspace and send along the version of ARTIK (Help > About) and OS you're using.

[2016-11-24 16:00] #192 closed

[2016-11-24 16:01] bmicklea commented on #191
@v-prabhu please update to the latest ARTIK version (1.2.2) and try again, it should be fixed now.

[2016-11-24 16:01] #191 closed

[2016-11-24 16:02] bmicklea commented on #178
@lvbin0127 I believe that SCP runs from our workspace (linux-based) to the device. You can use SSH to put the file into the workspace's `/projects` directory and then it will be auto-synced to the device or, if not, you can push it to the device manually.

[2016-11-24 16:04] bmicklea commented on #176
Closing older issues, if this is still a problem please reopen.

[2016-11-24 16:04] #176 closed

[2016-11-24 16:04] bmicklea commented on #171
Closing as this has been answered, if there are further questions please re-open.

[2016-11-24 16:04] #171 closed

[2016-11-24 16:05] bmicklea commented on #167
Closing as I believe this has been solved, if not please reopen with further details.

[2016-11-24 16:05] #167 closed

[2016-11-24 16:06] bmicklea commented on #122
@laralijuan is this still a problem?

[2016-11-24 16:08] bmicklea commented on #120
@laralijuan can you reproduce the push to device issue on ARTIK 1.2.2?

[2016-11-24 16:14] bmicklea commented on #146
@RomanNikitenko is this still in progress?

[2016-11-24 16:16] bmicklea commented on #162
@vparfonov was this included in 1.2 milestone?  If so please set milestone to 1.2

[2016-11-28 09:58] chenglin-li commented on #227
could you please update more details on this topic? like what kind of features we need to provide for ARTIK emulator ?
1. support business logic Dev ? support sensor kits ?
2. need to provide GUI for emulator ? or just terminal ? or both ?
3. define work flow for ARTIK emulator

[2016-11-28 11:11] eivantsov commented on #226
@bmicklea this has been already implemented.

[2016-11-28 11:11] #226 closed

[2016-11-28 11:15] eivantsov opened #231 "Replication folder isn't parsed correctly"
Steps to reproduce:

1. Connect to Artik device
2. Set replication folder to /root/test
3. As a result, it remains /root and while trying to run or debug binary, an error occurs saying that path `/root//projects/test` does not exist.

[2016-11-28 12:23] bmicklea commented on #227
Actually this is something we can't really help with - we have no
experience with hardware emulation and limited experience with hardware in
general. This would be a better task for a team of Samsung experts.

Although this repo is in the Codenvy organization for now, the issues are a
collection related to ARTIK not to any one team.

On Mon, Nov 28, 2016 at 04:58 chenglin-li <notifications@github.

[2016-11-29 07:28] eivantsov commented on #227
@chenglin-li basically, we need guidance on how you'd emulate Artik on a Fedora or Ubuntu. We may then mimic it and port to a Docker image.

[2016-11-29 08:50] #215 closed

[2016-11-29 16:01] CGM-Face commented on #153
Same error with the launcher "cannot open git-upload-pack"
Here the screenshot of the browser console:
![image](https://cloud.githubusercontent.com/assets/22750846/20717331/705cc5b0-b655-11e6-8f7d-3abaa6b53f06.png)

[2016-11-29 16:04] dkuleshov commented on #231
Can't reproduce.

[2016-11-29 16:04] #231 closed

[2016-11-29 17:23] bmicklea commented on #146
Fixed

[2016-11-29 17:23] #146 closed

[2016-11-29 18:16] bmicklea commented on #224
In 29-nov-2016 meeting we discussed collaboration between Codenvy and Xian teams to build this out - Codenvy to concentrate on the CI/IDE aspects and Xian to focus on the HW test bed that it would rely on.

[2016-11-29 18:19] bmicklea commented on #183
@eivantsov - can this be closed now?  I think the prototype was fine we just need to decide on final goal.

[2016-11-29 18:21] bmicklea commented on #143
@vparfonov - is this part of this sprint or next?  We should get this merged if the code is still up-to-date.

[2016-11-30 08:01] eivantsov commented on #143
@bmicklea it was demoed to Samsung but no further decisions were made.

[2016-11-30 08:01] #183 closed

[2016-11-30 13:12] CGM-Face commented on #153
Please reopen the bug, it is not solved

[2016-11-30 14:22] bmicklea commented on #153
Reopening as issue persists.

[2016-11-30 16:32] eivantsov commented on #153
@CGM-Face how did you apply your proxy settings in Che conf?

[2016-11-30 16:59] bmicklea commented on #143
Okay then we should change the status label. This is something we can do after we've clarified the specification with the Samsung team.

[2016-12-01 00:48] v-prabhu opened #233 "Can not delete or stop Workspace while starting workspace runtime"
Hi,
As a developer I would like to delete or stop the workspace while Starting Workspace Runtime (when downloading all the dependencies), for some reason. But there is no provision to stop the workspace initialization rather developer has to wait till the workspace daemon is up and running. Also, developer can not delete the workspace from the dashboard or Workspace tabs while Starting workspace r

[2016-12-01 00:52] v-prabhu opened #234 "Added sample project while creating the workspace is not appearing after the Workspace daemon is up and running"
Hi,
While creating the workspace, I choose to load the sample projects (ex: artik-samples). After the initialization and workspace daemon starts running, the added projects does not appear in the Project Explorer.
![added project not appearing](https://cloud.githubusercontent.com/assets/21373498/20777688/703be71e-b71d-11e6-98ea-cf6e17cc2f3e.PNG)

[2016-12-01 00:59] v-prabhu opened #235 "USB connected Artik devices are not recognized"
Hi,
I have connected my Artik module to my PC. But not able to see it in Manage Artik Devices window. As a developer, I want my Artik module to be detected automatically when connected by USB. Or the IDE should at least identify these modules and ask permission by he developer to start USB communication. Or the developer should be able to see the USB connected modules in Manage Artik Devices windo

[2016-12-01 01:12] v-prabhu opened #236 "Sometimes Not able to delete the workspace after Workspace daemon is up and running"
Hi,
I have created a workspace and moved to the **Workspaces** tab. I could see the created workspace there. I check the checkbox to select the workspace and click on **Delete** button. An alert appears and I choose to click Delete again in the alert. The alert disappears but the workspace is still available. However, if I go to **Dashboard** tab and come back again to **Workspaces** tab and try t

[2016-12-01 06:02] eivantsov commented on #235
@v-prabhu what OS do you use? And how did you start Artik?

[2016-12-01 06:04] eivantsov commented on #236
@v-prabhu the workspace isn't selected on your screenshot. I will take a look.

[2016-12-01 06:05] eivantsov commented on #234
@v-prabhu were there any error when starting the workspace? Smth like Creating project stage never ends and you click on the workspace in the left side bar to get to the ide?

[2016-12-01 06:06] eivantsov commented on #233
@v-prabhu I do not believe Eclipse Che has this functionality. I will pass it over to management and dev team.

[2016-12-01 08:13] eivantsov commented on #202
When implemented, this will work on linux only.

[2016-12-01 08:13] eivantsov commented on #235
@v-prabhu here's another issue - https://github.com/codenvy/artik-ide/issues/202

[2016-12-01 08:19] eivantsov commented on #224
@bmicklea `work with each version of the ARTIK modules` we can now say for sure that Artik IDE can connect to any Artik device. Features that depend on the device are those related to Artik SDK. As you know, artik.repo isn't installed out of the box in the device and Artik IDE does not do that either.

I am a little bit confused over what kind fo CI jobs these should be.

[2016-12-01 09:35] eivantsov opened #237 "Create installer for Windows"
The installer should:

1. Provide Windows like installation experience
2. Install Docker (there will be different installers for Windows 10 and Windows 7,8)
3. Create a shortcut that will open Electron window asking a user for server connection details (local vs cloud)
4. If a local process is chosen check if artik-ide isn't running on localhost:8080. If not, start Artik IDE as a Docker container

[2016-12-01 09:51] eivantsov commented on #138
https://github.com/codenvy/artik-ide/issues/237

[2016-12-01 16:25] #235 closed

[2016-12-01 16:41] bmicklea commented on #233
Closing as it will be tracked by this Che issue: https://github.com/eclipse/che/issues/3249

[2016-12-01 16:41] #233 closed

[2016-12-01 16:53] bmicklea commented on #224
I could be wrong but I think that once we do deeper integrations with ARTIK Cloud and device management (especially) we may have device dependencies we don't have today. This issue was meant to act as an umbrella issue for us to add the necessary SW/HW/Cloud interaction tests needed for us to be confident that the IDE will work with ARTIK devices and ARTIK Cloud each time.

[2016-12-01 17:12] v-prabhu commented on #234
@eivantsov during starting up the Workspace runtime (while downloading dependencies), the Internet connection got lost for some time. But later the downloading resumed and workspace daemon is up and running. After finding this issue in the workspace, I created a new workspace with the default projects again to verify. But with new workspace also the default project did not appear in project explor

[2016-12-01 17:15] v-prabhu commented on #236
@eivantsov I selected the workspace checkbox and clicked Delete. Once clicked on Delete button the confirmation alert, the workspace becomes unchecked(as shown in the screenshot) and not deleted too.

[2016-12-02 07:16] eivantsov commented on #234
@v-prabhu I failed to reproduce this one.

Can you please help me a little bit and try to reproduce it with Chrome dev console on? It looks like some issues with websocket connection.

[2016-12-02 07:36] eivantsov commented on #236
@v-prabhu can you repeatedly reproduce it? I have just tried deleting a running workspace and it worked for me. Tried it a couple of times.

Can you try reproducing this one with browser dev console on please?

[2016-12-02 07:48] eivantsov commented on #224
Well, now we instalall rsync and gdbserver ourselves - these are the only deps for artik ide plugin.

[2016-12-02 11:55] CGM-Face commented on #153
Here a screenshot of my settings
![image](https://cloud.githubusercontent.com/assets/22750846/20833191/a0ce18ee-b88e-11e6-96f9-a814ad20ad23.png)

[2016-12-02 14:49] bmicklea commented on #224
Removing P2 label as we are sufficiently covered for integrations today. As we move forward with deeper integrations we can determine if this will be needed.

[2016-12-03 07:34] eivantsov commented on #153
@CGM-Face How did you start Che? The syntax.

[2016-12-05 08:28] lvbin0127 opened #239 "I want to create Uint Test code coverage report, but meet some issues, please give me some comments."
I want to export ARTIK IDE Uint Test code coverage report, so i use cobertura (Maven UT code coverage report tool) and i modified ARTIK IDE project root POM.xml as follow:
<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven

[2016-12-05 08:28] #239 closed

[2016-12-05 08:47] lvbin0127 opened #240 "Generate ARTIK IDE Uint Test code coverage report failed, please give me some suggestions."
I want to export ARTIK IDE Uint Test code coverage report, so i use Maven cobertura tool, i modified ARTIK IDE root POM.xml file as attach file:
[POM.zip](https://github.com/codenvy/artik-ide/files/630531/POM.zip)
after build SUCCESS, i use command:
mvn cobertura:cobertura
to export report, but failed, log is as follow:
[Uploading cobertura_failed_log.zip…]()
i refer to following url to solve this

[2016-12-05 08:54] #220 closed

[2016-12-05 09:38] CGM-Face commented on #153
docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -e CHE_HOST_IP=10.0.***.153 -v /home/user/che:/che -e CHE_CONF=/etc/che eclipse/che:latest start

[2016-12-05 12:58] RomanNikitenko commented on #146
Pull request in Che project https://github.com/eclipse/che/pull/3274

[2016-12-06 03:26] lvbin0127 commented on #240
This is the latest pom.xml and error log, please check.
[pom.zip](https://github.com/codenvy/artik-ide/files/632907/pom.zip)
[error.zip](https://github.com/codenvy/artik-ide/files/632909/error.zip)

[2016-12-06 07:18] eivantsov commented on #240
@lvbin0127 I was able to successfully run the following two maven commands:

`mvn clean install`
`mvn cobertura:cobertura`

I did not do any modifications to pom you've shared.

Maybe you want to try to add maven reporting api dependency to the plugin definition?

[code]

[2016-12-06 07:51] lvbin0127 commented on #240
I use two different PC to checkout github code, and run command directly, didn't change any code or pom.xml, error is same:
lvbin@lvbin-OptiPlex-9020:~/ide-git/artik-ide$ mvn cobertura:cobertura
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] Artik IDE :: Parent
[INFO] Artik IDE :: Plugin :: P

[2016-12-06 07:52] lvbin0127 commented on #240
By the way: the command is same as yours:
mvn  clean install
mvn cobertura:cobertura
@eivantsov
@SRCX-IOTG

[2016-12-06 08:06] eivantsov commented on #240
@lvbin0127 did you try pom edits that I have suggested?

Also, what is your Java and Maven version?

[2016-12-06 08:27] lvbin0127 commented on #240
I edit ARTIK IDE root pom.xml as you suggestion, but please note, direct edit as you suggest i compile error,so before <dependence>i add<dependenies>:
<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <mo

[2016-12-06 08:30] eivantsov commented on #240
The thing is that I CAN compile project with the pom you shared.

[2016-12-06 08:33] lvbin0127 commented on #240
I added plugin you suggested in root  pom.xml:
 <plugin>
                    <groupId>org.codehaus.mojo</groupId>
                    <artifactId>cobertura-maven-plugin</artifactId>
                    <version>2.7</version>
                    <executions>
                        <execution>
                            <phase>package</phase>
                            <goals>

[2016-12-06 08:37] lvbin0127 commented on #240
I added plugin YOU SUGGESTED IN ROOT POM.XML
<plugin>
<groupId>org.codehaus.mojo</groupId>
<artifactId>cobertura-maven-plugin</artifactId>
<version>2.7</version>
<executions>
<execution>
<phase>package</phase>
<goals>
<goal>cobertura</goal>
</goals>
</execution>
</executions>
<dependencies>
<dependency>
<groupId>org.apache.maven.reporting</groupId>
<artifactId>maven-reporting-api</artifactId>
<ver

[2016-12-06 08:43] lvbin0127 commented on #240
YES, pom.xml that i shared to you can compile, but mvn cobertura:cobertura always error.
my Java version is 1.8.0_71
my Maven version is 3.3.9
i edit pom.xml as you suggested:
`<plugin><groupId>org.codehaus.mojo</groupId><artifactId>cobertura-maven-plugin</artifactId><version>2.7</version><executions><execution><phase>package</phase><goals><goal>cobertura</goal></goals></execution></executions><de

[2016-12-06 08:43] lvbin0127 commented on #240
i run command both on terminal and Intellij IDEA, all are error.

[2016-12-06 08:45] lvbin0127 commented on #240
Do you mean you use pom.xml i shared to you run "mvn cobertura:cobertura" is successful?

[2016-12-06 08:46] eivantsov commented on #240
Yes, I was able to run mvn cobertura:cobertura with your pom and got no errors.

[2016-12-06 08:49] lvbin0127 commented on #240
Hmm, i use two different Linux host both are error, is there any request for Java and Maven, can you share the UT code coverage report to me? i want to check it, thanks.

[2016-12-06 08:52] eivantsov commented on #240
My Java version is 1.8.0_111

[2016-12-06 08:54] lvbin0127 commented on #240
Can you share UT coverage report?

[2016-12-06 08:56] eivantsov commented on #240
Not sure what exactly you mean. I can seee /cobertura folders in target for each module

[2016-12-06 09:01] lvbin0127 commented on #240
In these fold, is there any index.html files? that is UT code coverage report.

[2016-12-06 09:01] eivantsov commented on #240
No, just one file:

[code]

[2016-12-06 09:03] lvbin0127 commented on #240
Is that proper to use cobertura to generate UT code coverage report? Do you export such report before?

[2016-12-06 09:06] eivantsov commented on #240
It's in a different folder. Yes, I can see HTMLs:
[code]

[2016-12-06 09:09] lvbin0127 commented on #240
Hmm, is there any sepcial configuration for ARITK IDE runtime? i didn't found any differernt. please check my Jave and Maven version. is there anything wrong?

[2016-12-06 09:10] lvbin0127 commented on #240
Is HTML file code coverage report?

[2016-12-06 09:13] lvbin0127 commented on #240
coverage.xml what's this?

[2016-12-06 09:16] eivantsov commented on #240
As you can see, it's there.

![image](https://cloud.githubusercontent.com/assets/5337267/20919605/5f523a48-bba5-11e6-8756-0892c32e46dc.png)

[2016-12-06 09:24] lvbin0127 commented on #240
YES, that's what i want! but ,why i run always error...

[2016-12-06 09:27] lvbin0127 commented on #240
what's your Maven version?

[2016-12-06 09:52] eivantsov commented on #240
@lvbin0127 It's 3.3.9

[2016-12-06 10:47] #214 closed

[2016-12-06 17:57] AndrienkoAleksandr commented on #153
@CGM-Face You can resolve this issue by adding proxy parameters to java process. Do such steps:
1. Create your custom che.properties file by "some your path" with such content:
`che.workspace.java_opts=-Xms256m -Xmx2048m -Djava.security.egd=file:/dev/./urandom -Dhttp.proxySet=true -Dhttp.proxyUser=yourproxyuser -Dhttp.proxyPassword=yourproxypassword -Dhttp.proxyHost=yourproxyhost -Dhttp.proxyPort=

[2016-12-06 21:08] bmikhael opened #244 "IDE install on Mac OS X don't show ARTIK stack"
I've installed Che IDE first then I removed Che binary under /usr/local/bin
Then, I've downloaded artik-ide binary using the following command:
`# sudo curl -sL https://raw.githubusercontent.com/codenvy/artik-ide/master/artik-ide.sh > /usr/local/bin/artik-ide`
Then I've started ARTIK IDE using the following command as mentioned in the documentation:
`# artik-ide start`
The IDE starts without showi

[2016-12-07 07:27] laralijuan opened #245 "About Unit Test for final class‘s static method in ARTIK IDE"
Sorry for my lacking experience about Mockito's unit test.

So far, I learned it's hard to stubbing final class's static method using mockito + junit( current ARTIK IDE project adopted).

for example, If write unit test code for plugins/plugin-artik-ide/updatesdk/[SDKInstaller.java](https://github.com/codenvy/artik-ide/blob/a9909ca3ba53d91992c8c90519b43c5363064ef4/plugins/plugin-artik-ide/src/main

[2016-12-07 07:51] eivantsov commented on #244
@bmikhael you need to remove `/home/user/che` directory on your host and try it again.

[2016-12-07 08:55] lvbin0127 opened #246 "If i want to develop some function and need to modify some Eclipse Che source code, how to build and implement on ARTIK IDE?"
If i want to develop some function and need to modify some Eclipse Che source code, how to build and implement on ARTIK IDE?

[2016-12-07 10:23] eivantsov commented on #245
@laralijuan currently this code cannot be tested. This PR should make it testable - https://github.com/eclipse/che/pull/3293 (it contains other changes as well, i.e. those not related to this particular piece of code)

[2016-12-07 10:36] eivantsov commented on #246
@lvbin0127 you will need source code for Eclipse Che. After you introduce changes there, build that module and then re-build Artik assembly.

Perhaps, if you elaborate on what you are trying to achieve I can be more helpful :)

[2016-12-07 10:37] lvbin0127 commented on #246
Thank you very much~

[2016-12-07 11:31] eivantsov opened #247 "Re-group compile, run and debug buttons"
Compile button should be to the right of delete button, near run.

![image](https://cloud.githubusercontent.com/assets/5337267/20966055/3eb3e3a4-bc81-11e6-9702-3823e3d8e0ac.png)

[2016-12-07 12:22] eivantsov opened #248 "Add Node.js samples"
Since it is possible to run Node.js apps on the device, node.js samples should be added to samples.json

[2016-12-07 12:23] eivantsov opened #249 "Project -> Compilation Options for Node.js projects shows defaults for C"
It should be Project > Edit Run Options. There should not be anything else there in the box. Just run command.

By default run options are empty. A user should be able to add arguments and the command will look like:

`node hello.js one two`

[2016-12-07 12:45] eivantsov opened #250 "Debug button should be disabled for node.js projects"
Due to a bug in node.js it is currently impossible to use node.js debugger with a remote target. The following pull request should fix it:
https://github.com/nodejs/node/pull/10099

Until then, debug button for node.js projects should be disabled.

[2016-12-07 13:18] eivantsov commented on #120
@laralijuan We will close the issue since we cannot reproduce it.

[2016-12-07 13:18] #120 closed

[2016-12-07 15:43] TylerJewell commented on #237
This issue does not match the Che specification that was developed for electron clients and installation.  This issue needs to conform to that approach and specification details before starting.

[2016-12-07 19:32] bmicklea commented on #250
So that node PR was closed but not merged?

[2016-12-08 02:42] ufgtb24yu opened #253 "Create Files in particular workspace"
I want to create a file in workspace, the file works as a kind of profile, unlike code file created from users in their prject, this file is not visible for IDE users and it's created   when workspace is initialized.
     I create it with code below, but  "Container.newFile"API blocks,  so that SUCCESS notification in the last line is not outputed.

[code]

I wonder if my way to use the API (Conta

[2016-12-08 06:39] lvbin0127 opened #254 "Can you tell me how to debug ARTIK IDE project? currently we just use UI nofity to show message, it is too slow."
Can you tell me how to debug ARTIK IDE project? currently we just use UI nofity to show message, it is too slow...
@laralijuan
@eivantsov

[2016-12-08 07:43] eivantsov commented on #254
@lvbin0127 can you elaborate on what plugin you want to debug?

[2016-12-08 08:00] lvbin0127 commented on #254
Is there any different among different plugins? i want to know the detail debug procedure, i think it is no matter what's the plugin, am i right?~

[2016-12-08 08:08] lvbin0127 commented on #254
For example: plugin-artik-help.

[2016-12-08 08:35] evoevodin commented on #254
Hi @lvbin0127, we're using [GWT](http://www.gwtproject.org/) on client side, so for debugging client extensions/plugins you have to use super-dev-mode. There is a [helpful documentation](http://www.gwtproject.org/doc/latest/tutorial/debug.html) that allows you to set up everything you need, please try it out.

[2016-12-08 08:37] lvbin0127 commented on #254
Thank you very much, and how about server side?

[2016-12-08 09:07] eivantsov commented on #254
It depends on what service you are looking at. It may be core API provided by Che or services deployed with a workspace agent.

[2016-12-08 09:08] evoevodin commented on #254
There are 2 possible endpoint types to debug:
1. Artik-server(workspace master)

Export the variable `CHE_DEBUG_SERVER=true` and restart the artik server.
Then you are able to debug it as regular java remote whatever `host:port` is, e.g. by default it's _localhost:8080_

2. Workspace-agent(those server which is inside of the docker container)

You can find host and port for debugging in _machine-p

[2016-12-08 09:09] eivantsov commented on #246
You need to recompile workspace api module in Che and then your Artik assembly. Please note that you will have to issue a pull request to Che. Changing workspace API is a big deal.

[2016-12-08 09:35] vzhukovskii commented on #253
Hello @ufgtb24yu. Client-side API doesn't support creating files in the workspace root. So the construction like `appContext.getWorkspaceRoot().newFile("name", "content").then(...)` will fails with the `java.lang.IllegalArgumentException`.

What about `appContext.getResource()` API call. This method may return a `null` in case if there isn't any resource in the context at this moment.

Note that e

[2016-12-08 13:48] vparfonov opened #256 "Release Artik IDE 1.2.3"
Related Che tag 5.0.0-M8

[2016-12-08 14:52] #217 closed

[2016-12-08 14:52] svor commented on #216
Node-JS debugger plugin was added with [PR](https://github.com/codenvy/artik-ide/pull/242)

[2016-12-08 14:52] #216 closed

[2016-12-08 14:57] svor commented on #217
Run flow was implemented and merged with [PR](https://github.com/codenvy/artik-ide/pull/242)
Debug feature still not implemented because had a bug on the node side (https://github.com/nodejs/node/issues/9854)

[2016-12-09 01:08] ufgtb24yu commented on #253
Thank you for the last answer , as you said, now I  try to build a project first. But it still blocks when calling createProject() and "Finish Creating" is not outputed. Could you please tell me what's the problem? Is
dataObject set the right parameters?

[code]

[2016-12-09 01:42] Connin opened #257 "artik-ide start and ERROR !!! Error - Docker not installed properly issue"
Hello,
I am trying to follow
https://eclipse-che.readme.io/docs/samsung-artik-ide-getting-started

But it gave me a lot of errors..

I got this error message by following this step (Win7 64-bit).
1. Install Docker.
2. Run Docker Quickstart Terminal and run docker run hello-world to verify it works.
3. Install Git for windows
4. Run Window cmd.
5.  window cmd, Type
set PATH=C:\Program Files\Git\bin

[2016-12-09 07:35] eivantsov commented on #257
@Connin can you enter bash and run:

docker rm -f $(docker ps -aq)

This command will remove all containers.

Then try executing bat file again.

[2016-12-09 09:08] vzhukovskii commented on #253
Method `org.eclipse.che.ide.api.resources.Container#newProject` throws `java.lang.IllegalArgumentException` in case if you are trying to path an invalid parameters to the future project. Probably it is because you don't have a registered project type `type1` on the server side.

To get registered and available project types from the server, you can call rest method `org.eclipse.che.api.project.ser

[2016-12-09 11:20] riuvshin commented on #256
Done https://github.com/codenvy/artik-ide/tree/1.2.3

[2016-12-09 11:20] #256 closed

[2016-12-09 14:14] lance commented on #250
Due to the nature of the process required to get code into Node.js core, PRs are not merged directly, but their contents are. In any case, the PR in question was merged here: https://github.com/nodejs/node/commit/6410534ec1062c8e3140bd3c2fc4f3d8a5bbdab7

[2016-12-09 14:16] bmicklea commented on #250
Thanks for clarifying @lance - @vparfonov looks like you're unblocked.

[2016-12-09 20:33] Connin commented on #257
Hello, thank you for reply.
I tried your advise.

After Bash,

kyle.bae@STA119400 MINGW64 ~/artik-ide
$ docker rm -f $(docker ps -aq)
0eec5d557c4b
9c696950c406
f096a4507964
2379e1125f4f
d9ec57be7f0d
7c1a59bc822b
e76fb2f9efdd
25265d4dbaf4
f40fb08915e1
bc47fcc0ffa3
5676656304b6
1590321d8648
2fff0673433f
8c9d04e72c10
f78fd8964f04
5dfeeb21ad1a
b1cbf4701739
da38b09958c1
ba1f6d882365

kyle.bae@STA119400

[2016-12-11 07:20] lvbin0127 commented on #254
I want to setup super dev mode on Intellij Idea, so i setup configuration as follow step:
1. Download gwt-2.7.0
2. Config GWT default path:
![default](https://cloud.githubusercontent.com/assets/7456723/21078722/0d2c1f64-bfb4-11e6-96cf-5dc6203a4100.png)
3. In the user guide, need to add following content in POM.xml:
<dependency>
    <groupId>com.google.gwt</groupId>
    <artifactId>gwt-dev</artifac

[2016-12-11 07:22] lvbin0127 commented on #254
Sorry  i don't know if you can see the pictures, so i attach the file.
[Intellij Debug.zip](https://github.com/codenvy/artik-ide/files/644295/Intellij.Debug.zip)
please check.
@eivantsov

[2016-12-11 07:42] ufgtb24yu commented on #253
I excecute the URL(in my case, is explicitly like this:  http://localhost:32780/api/project-type ) in browser to access my server(already in running) , but get nothing responsed, should I just use the port 32780?

[2016-12-11 17:05] ufgtb24yu commented on #253
Actually， my essential target is to create a new project (the reason why I need to get the valid project types), then create a file inside it, both of them should be created by code without operation through UI.  Would you please help me to check my code below, which aimed to create a project and a file in a presenter (this part needs you help), and show the file in a view .Thank you very much!!!

[2016-12-11 17:09] ufgtb24yu commented on #253
Sorry for disturbing you again，but I meet some problem when calling http://localhost:32780/api/project-type , http-get returns no response.
     Actually， my essential target is to create a new project (the reason why I need to get the valid project types), then create a file inside it, both of them should be created by code without operation through UI.  Would you please help me to check my code

[2016-12-11 17:14] ufgtb24yu commented on #253
Sorry for disturbing you again，but I meet some problem when calling http://localhost:32780/api/project-type , http-get returns no response.

Actually， my essential target is to create a new project (the reason why I need to get the valid project types), then create a file inside it, both of them should be created by code without operation through UI.  Would you please help me to check my code belo

[2016-12-11 18:01] eivantsov commented on #253
@ufgtb24yu port differs each time you have a running workspace. So, 32780 may not be what you actually need.

[2016-12-12 08:06] eivantsov commented on #254
@lvbin0127 it looks like Idea cannot resolve some dependencies.

What is parent version of Che? Also, can you build artik-ide project?

[2016-12-12 08:36] evoevodin commented on #254
It looks like super dev mod is correctly installed.

@lvbin0127 can you please do the following:
- build artik-ide `mvn clean install`
- ensure that you use native(not-bundled) maven _Settings -> Build Tools -> Maven -> Home directory_
- Reimport dependencies _Right click on the project -> Maven -> Reimport_.

[2016-12-12 10:11] vzhukovskii commented on #253
@ufgtb24yu take a look on this gist: https://gist.github.com/vzhukovskii/5069478068da48da73c94a7f4984711a
I've edited the initialization flow in show method.

[2016-12-12 13:26] eivantsov commented on #257
@Connin I will give it a shot on my Win 8 laptop with Docker ToolBox installed.

It works for me on Win 10 though. I suspect that the problem is that `@FOR /f "tokens=*" %i IN ('docker-machine.exe env --shell cmd') DO @%i` enables docker of a current cmd session but artik-ide.bat calls artik-ide.sh that then checks if Docker is running (`docker ps`) and when `docker ps` is called the response isn'

[2016-12-12 16:18] CGM-Face commented on #153
@AndrienkoAleksandr @eivantsov It works !!!! Thank you very much. Ticket can be closed. :)

[2016-12-12 16:59] bmicklea commented on #153
@AndrienkoAleksandr - this seems like something that should be in our docs. In what situations do you need to do this?  Can you write up a short doc on this in markdown?

[2016-12-12 19:36] eivantsov commented on #153
@bmicklea since the CLI is in a container now, proxies sub section should be added here - https://github.com/eclipse/che/tree/master/docs#configuration

[2016-12-12 19:39] bmicklea commented on #153
Thanks Eugene - can you add the relevant information there please?  I'm not
as familiar with the containerized CLI yet.

On Mon, Dec 12, 2016 at 2:36 PM, Eugene Ivantsov <notifications@github.com>
wrote:

--

Brad Micklea | bmicklea@​codenvy.​com | 4​16​.7​07​.07​92

[2016-12-13 01:45] Connin commented on #257
Hello, thank you for your help.

I have modified artik-ide.sh code with notepad++.
I tried both ways and they gave me the same result:

C:\Users\kyle.bae\artik-ide>artik-ide start

C:\Users\kyle.bae\artik-ide>docker run --rm -t -v/var/run/docker.sock:/var/run/docker.sock eclipse/che start
INFO: ECLIPSE CHE: Found image eclipse/che-server:latest
INFO: ECLIPSE CHE: Starting container...
INFO: ECLIPS

[2016-12-13 04:15] eivantsov commented on #257
What is the output from this command?

`C:\Users\kyle.bae\artik-ide>artik-ide start`?

The second command you ran is starting regular Che. So, it is expected not to have Artik stack there.

[2016-12-13 20:12] Connin commented on #257
Hello,
I changed sh to
if [ ! docker ps > /dev/null 2>&1 ]; then

Before I type
@FOR /f "tokens=*" %i IN ('docker-machine.exe env --shell cmd') DO @%i
I got this:
C:\Users\kyle.bae\artik-ide>set PATH=C:\Program Files\Git\bin;%PATH%

C:\Users\kyle.bae\artik-ide>artik-ide start
INFO: Pulling image alpine:latest

C:\Users\kyle.bae\artik-ide>

![image](https://cloud.githubusercontent.com/assets/193198

[2016-12-13 21:48] Connin commented on #257
I have commented out check_docker by adding # and it also gave the same output

![image](https://cloud.githubusercontent.com/assets/19319864/21160734/bc5748a6-c13a-11e6-8b9f-c91b21269d4c.png)

[2016-12-14 06:03] eivantsov commented on #257
@Connin I have just checked it on Windows 8.

[code]

It looks like scripts do not get executed at all. But it did run for you when you first tried it. Can you remove them and pull the latest from the repo?

[2016-12-14 06:22] eivantsov commented on #257
`artik-ide>docker run -p 8080:8080 -v /c/users/Eugene/workspace:/data --rm -t -v /var/run/docker.sock:/var/run/docker.sock codenvy`

[2016-12-14 11:50] #249 closed

[2016-12-14 12:22] eivantsov commented on #250
We are bound to use 4.6.0 version which is the only version that Artik SDk officially supports.

[2016-12-14 15:16] svor commented on #250
Actually, we can do this with 4.6.0. We need:
1. Clone source code of [Node.Js](https://github.com/nodejs/node);
2. Checkout to necessary tag (4.6.0);
3. Make change which will fix a bug related to our [issue](https://github.com/nodejs/node/issues/9854). For this need to change only one line, this change already exists in Node.Js [master](https://github.com/nodejs/node/commit/6410534ec1062c8e3140b

[2016-12-14 18:02] vparfonov opened #263 "Update CI systems to generate specialized packages for Artik IDE Installer"
Update CI systems to generate specialized packages for  Artik IDE. These packages should be generated on each tagged release and made available for download.

[2016-12-14 18:18] vparfonov opened #264 "The installation should include TAR files for all of the images necessary to run Che for that particular version and the Che CLI"
For  ARTIK IDE, we would include the ARTIK SDK stack image. If a user runs Che and it is not connected to the internet, it should try and use the locally saved images that were provided in the installation.

[2016-12-14 23:58] Connin commented on #257
Hello, Thank you for your help.

I believe it works with this command.
docker run -p 8080:8080 -v /c/users/Eugene/workspace:/data --rm -t -v/var/run/docker.sock:/var/run/docker.sock codenvy/artikide start

![image](https://cloud.githubusercontent.com/assets/19319864/21206295/de15478c-c215-11e6-926e-418bfc9cdb3e.png)

I got this after I connect to http://192.168.99.100:8080/

![image](https://cloud

[2016-12-15 05:07] eivantsov commented on #257
This command launches a different docker image - `codenvy/artikide`

[2016-12-15 14:57] vparfonov opened #267 "Use new exec-agent on Artik Device"
detail see here https://github.com/eclipse/che/issues/1947

[2016-12-16 00:11] #257 closed

[2016-12-16 08:05] #247 closed

[2016-12-16 08:46] svor commented on #247
![toolbr](https://cloud.githubusercontent.com/assets/1271546/21256753/d3241232-c37c-11e6-89f6-d5689bf410ae.png)

[2016-12-20 00:50] Connin opened #269 "Discover ARTIK from Eclipse che"
Hello,
I'm trying to Follow
https://eclipse-che.readme.io/docs/samsung-artik-ide-getting-started
And
https://eclipse-che.readme.io/docs/artik-usb-connection-setup.

I'd like to let my ARTIK IDE to find my ARTIK board.

Since I do not have an additional Ethernet connection, I connected my ARTIK board to Wi-Fi.
![image](https://cloud.githubusercontent.com/assets/19319864/21333617/f7dd948c-c605-11e6-

[2016-12-20 08:11] #250 closed

[2016-12-20 16:47] eivantsov commented on #269
@Connin

1. You need to enable USB discovery in VirtualBox - http://www.htpcbeginner.com/access-usb-drive-in-virtualbox-guest-os/
2. adb devices returned nothing for your Windows machine. Probablt wrong usb port. What happens if you connect your Android phone and run the same command?

3. Can you ssh into your VM?

`docker-machine ssh default`
`ssh root@$IP`

Will such a login attempt be a success

[2016-12-20 17:22] bmicklea commented on #219
Smoke tests passed with local ARTIK install. Passing to dev team for deeper testing.

[2016-12-20 22:16] bmicklea opened #271 "Investigate using Eclipse desktop IDE keyboard mappings for ARTIK IDE"
There have been a few requests for the ARTIK IDE to use the same keyboard mappings as Eclipse desktop IDE. Is this possible?  I know the browser probably reserves some of those...  Will the electron client make that easier or harder?

[2016-12-21 01:20] Connin commented on #269
1. You are right, I followed https://eclipse-che.readme.io/docs/artik-usb-connection-setup again to
enable USB in VM as shown in screenshot.
I restarted my ARTIK and VM after enabling USB.

![image](https://cloud.githubusercontent.com/assets/19319864/21372878/f47ba224-c6ce-11e6-9008-26133f78bbc1.png)

2. I have connected my android cellphone via USB and typed adb devices and below screenshot is wh

[2016-12-21 05:46] eivantsov commented on #269
`$IP` should be actual IP of your Artik device.

Artik IDE isn't involved at that point. Have you tried different USB ports? It should me mini USB, not micro. Also, try different USB ports on your laptop.

[2016-12-21 05:47] eivantsov commented on #271
@bmicklea should it perhaps be Eclipse Che issue?

[2016-12-21 12:18] bmicklea commented on #271
It would require Che changes for sure but the request was from ARTIK so I
placed it here to allow it to be more easily tracked in the ARTIK backlog.
We can add a linked issue in Che repo if needed.

On Wed, Dec 21, 2016 at 00:47 Eugene Ivantsov <notifications@github.com>
wrote:

[2016-12-22 02:07] Connin commented on #269
Hello, thank you for response.

I tried both cmd and ssh root@$IP in workspace.
Here is what I got.
![image](https://cloud.githubusercontent.com/assets/19319864/21409318/72163022-c78e-11e6-9d45-a147db6b45b6.png)

![image](https://cloud.githubusercontent.com/assets/19319864/21409326/7d0b26fe-c78e-11e6-898f-e0860b421194.png)

But when I tried to connect my ARTIK board and IDE by clicking ARTIK Icon

[2016-12-22 08:22] eivantsov commented on #269
@Connin there's a bug in the latest release that prevents terminal from being launched on the device which impacts connection as well. It's fixed in current master.

As to USB auto discovery, if adb devices does not return anything when you execute this command in a workspace or the VM, no IP will be displayed in the manage connections dropdown.

[2016-12-22 12:56] eivantsov opened #272 "Release Artik 1.2.4"
As per subject

[2016-12-22 13:52] #272 closed

[2016-12-22 13:52] riuvshin commented on #272
Done

[2016-12-22 23:02] Connin commented on #269
Yes, I typed adb devices in workspace and it gives nothing. So I believe it means IDE does not access to my port for some reason that I do not know.
![image](https://cloud.githubusercontent.com/assets/19319864/21442428/b7031906-c852-11e6-86ce-74c144b136b5.png)

I think I have to work on to connect my ARTIK device via Wi-Fi.
How can I get that "current master"?

[2016-12-23 06:24] eivantsov commented on #269
@Connin as to adb, you should first make sure that the VM can recognize your USB devices. Looks like Android phone can be seen but not Artik board. I cannot say right now why it happens especially since Artik cannot be discovered by adb through the command line. We are re-thinking board discovery mechanism in favor or network scan since adb may be unreliable in some cases.

As to trying the latest

[2016-12-28 14:11] eivantsov commented on #219
Everything works as expected. No issues found.

[2016-12-28 14:11] #219 closed

[2016-12-29 00:31] Connin commented on #269
when I type it in cmd, I got this message.
docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v /c/users/kyle.bae/artik:/data codenvy/artik-cli:nightly start

![image](https://cloud.githubusercontent.com/assets/19319864/21534371/d64e3670-cd1a-11e6-8951-3564185a0f76.png)

Unable to find image 'codenvy/artik-cli:nightly' locally
Pulling repository docker.io/codenvy/artik-cli
docker: Error

[2017-01-04 08:11] eivantsov commented on #269
@Connin can you manually run `docker pull codenvy/artik-cli:nightly`?

[2017-01-06 02:16] Connin commented on #269
Hello,

I have tried
docker pull codenvy/artik-cli:nightly
and

I believe I got the same error message
![image](https://cloud.githubusercontent.com/assets/19319864/21705073/6cdd4592-d372-11e6-90bc-7cd585844b2a.png)

[2017-01-06 11:39] eivantsov commented on #269
@Connin I think you need to destroy and recreate your docker machine.

[2017-01-10 08:53] vparfonov opened #279 "Release Artik 1.3.0"
Depends on Che 5.0.0

[2017-01-10 13:21] riuvshin commented on #279
done https://github.com/codenvy/artik-ide/tree/1.3.0

[2017-01-10 13:21] #279 closed

[2017-01-18 11:12] eivantsov commented on #264
Also, the installer should untar those images when the installation is completed.

[2017-01-18 11:44] gazarenkov commented on #264
Any estimation of the installer's size after that?

[2017-01-18 12:08] vparfonov commented on #264
i think we need provide two version of installers offline and online, without images and with them

[2017-01-18 12:55] TylerJewell commented on #264
1. An online installer may introduce unnecessary complexity and things would be easier to test if offline is the only supported mode.

2. The cli already generates a list of tar files to be used in a package but the list of what it produces could be improved.

3. There is no need to inter the images during installation.  The cli uses docker to load the tar files as they are during a first boot.

[2017-01-18 13:30] eivantsov commented on #264
@gazarenkov @vparfonov yes, two installers. With all the images, the offline installer will be up to 2GB.

[2017-01-18 13:32] TylerJewell commented on #264
I am not comfortable with this ideas of two installers.  It significantly increases the complexity of the download page and export compliance policy that we have to consider.  There are both marketing and legal implications to such an approach.  Having a single offline-only installer simplifies things.

[2017-01-18 13:37] eivantsov opened #280 "Investigate a way to apply proxy settings for Docker for Windows and Mac"
It should be done programmatically, i.e. without interacting with the application UI.

Eventually, electron client should be able to grab user provided proxy settings, apply them, restart Docker and check connectivity.

[2017-01-18 13:44] eivantsov commented on #264
@TylerJewell it will be ~2GB, it that's ok, we will do it.

[2017-01-18 13:46] TylerJewell commented on #264
Yeah, the size of the package is unavoidable - whether the customer likes it or not, if they are doing ARTIK they have to download 2GB of "stuff".  About 1.5GB of that is not related to Che - it's just their stack.  So whether they are connected for that, or its in the initial package, it's the same.

With export compliance policy, though, we have to start registering all of the software that is a

[2017-01-18 21:56] bmicklea opened #281 "Simplified installation on Windows 10"
## Overview
In order to simplify the installation of the ARTIK IDE we will create an installer and an [Electron client](http://electron.atom.io/). The Electron client will use the same source code as the current browser IDE, but wrap it in a desktop client that allows a single icon click to start the ARTIK IDE. For this phase the installer and Electron client will only be designed to work with a l

[2017-01-18 22:03] bmicklea opened #282 "Simplified installation on Mac OS"
## Overview
In order to simplify the installation of the ARTIK IDE we will create an installer and an [Electron client](http://electron.atom.io/). The Electron client will use the same source code as the current browser IDE, but wrap it in a desktop client that allows a single icon click to start the ARTIK IDE. For this phase the installer and Electron client will only be designed to work with a l

[2017-01-18 22:10] bmicklea opened #283 "ARTIK IDE Installer - Uninstall Function"
The ARTIK IDE installer should support uninstallation, which would remove:
- ARTIK IDE Electron client including any associated configuration.
- ARTIK IDE Server.
- Docker images for ARTIK Server, stacks and utilities.
- There should be an option for the user to also remove all ARTIK workspace data and remove the data mount directory (although this option will be off by default).

[2017-01-18 22:14] bmicklea opened #284 "Add ARTIK IDE Electron client and installer CI jobs"
The Codenvy CI systems should generate specialized packages for Artik installers and electron clients. These packages should be generated on each tagged release and made available for download.

The packages would be as outlined in the [installer spec](https://docs.google.com/document/d/1izSvR2iQSxHiYLSQqTwPsUT_3DOLJHelEPDySLmazYQ/edit#).

[2017-01-18 22:18] bmicklea opened #285 "ARTIK IDE Installer - Upgrade Function"
The ARTIK IDE installer should allow users to upgrade their version of ARTIK. This will pull down a new installer bundle and then upgrade all aspects (Docker if needed), Electron client and ARTIK Server.

[2017-01-19 14:59] vparfonov commented on #282
@benoitf  Florent, I heard that you have some experience in this field, so may be you could advise where we can start from or what tool can be applied here. Thanks

[2017-01-19 15:01] TylerJewell commented on #282
@vparfonov - for which parts?  It's a huge specification, so be more specific.

[2017-01-19 15:05] vparfonov commented on #282
Well, we have a specific use case here, we're in a situation when we need to figure out if docker is installed and install it if needed. So what we probably must have an installer (seems like dmg format can't be applied here) that will run some script and start installation of another package (with docker) and then install our application.

[2017-01-19 15:13] vparfonov commented on #237
duplicate codenvy/artik-ide#281

[2017-01-19 15:13] #237 closed

[2017-01-19 15:15] benoitf commented on #282
@vparfonov AFAIK .pkg is installer format for macOs, you may build it with https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/pkgbuild.1.html
we had in the past an installer https://github.com/codenvy/che-installer/tree/3.x/eclipse-che-installer-osx

but I would say dmg file is still the more common for mac ppl. Also with Electron we can have this kind of dmg f

[2017-01-19 15:20] vparfonov opened #287 "Create electron client packaging of Artik IDE for Windows (exe), Mac (dmg), and Linux (zip / tgz)"
- [ ] Electron: The electron packaging should have the ARTIK IDE icon, provide minimize / maximize, and also have an icon that appears in the system tray when minified.  #291
- [ ] Electron: The client will perform checks each time it is loaded:
  - Check for ARTIK Server availability.
  - Check for internet connectivity.
  - Check for Docker availability.
- [ ] Electron: Completed start page with

[2017-01-19 15:59] eivantsov opened #288 "Cannot run Docker using CLI in a container"
`docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v /c/Users/Eugene/workspace:/data codenvy/artik-cli:nightly start` results in an error:

`/scripts/cli.sh: line 25: CHE_DEVELOPMENT_MODE: unbound variable`

[2017-01-19 16:11] vparfonov commented on #282
@benoitf  thanks for your answer. But i think check if docker is installed or not inside the electron package will too late. We should check this during installation like we do for Windows 10.
We will try docker-indicator

[2017-01-19 17:41] benoitf commented on #288
Ok it's due to https://github.com/codenvy/codenvy/commit/2d03d3499cb83e6ea843440192e3814130dedebd

[2017-01-19 17:57] #288 closed

[2017-01-20 11:28] vparfonov opened #290 "Investigate installation procedure on Mac OS"
Here we will investigate how to make installation on MacOS and develop some POC for start.

[2017-01-20 11:32] vparfonov commented on #284
@bmicklea  Here we have problem with buikd client for Mac OS https://github.com/electron-userland/electron-builder/wiki/Multi-Platform-Build

[2017-01-20 11:43] vparfonov opened #291 "Artik Electron packaging"
1. The electron packaging should have the ARTIK IDE icon and provide minimize / maximize.
2. Connects to local ARTIK Server.

[2017-01-20 11:45] bmicklea commented on #284
Yes, I think this was expected - we will need Mac and Windows machines for
build and automated tests. They should be purchased.

On Fri, Jan 20, 2017 at 06:32 Vitalii Parfonov <notifications@github.com>
wrote:

[2017-01-20 11:56] vparfonov opened #292 "Installation of the ARTIK IDE for Windows 10"
- [ ] Installer: Install package (.exe) containing Docker, Electron client, Docker images for ARTIK server, ARTIK stack and utilities (https://github.com/codenvy/artik-ide/issues/264).
- [x] Installer: License display and user acceptance panel.
- [ ] Installer: Electron client install location panel - including testing if Electron can be run in a directory with spaces and, if not, trapping for tha

[2017-01-20 11:59] vparfonov commented on #281
@bmicklea i am not sure that docker load for TAR'ed images must do installer, i thin will be better if Electron client  will do it on first run

[2017-01-20 12:05] bmicklea commented on #281
What's the problem with sound Docker load during installer run?

Ideally the ARTIK server will be running when the electron client is first
started. We could add definition of data path to the installer.

On Fri, Jan 20, 2017 at 06:59 Vitalii Parfonov <notifications@github.com>
wrote:

[2017-01-20 14:02] eivantsov commented on #291
@bmicklea why do we need a system tray icon? Usually system tray icon is for utility apps and those apps that fire notifications, like slack, skype etc.

[2017-01-20 14:22] bmicklea commented on #291
That was a requirement from Tyler for Che that I missed when copying the requirement over. Removed.

[2017-01-20 18:25] eivantsov opened #293 "Release Artik 1.3.1"
As per subject

Make sure this tag gets pushed to Docker images that aril-cli uses.

[2017-01-23 11:20] eivantsov commented on #285
@bmicklea for now we do not have any mechanism to check for a new version, so expect users just to download a new installer.

[2017-01-23 11:20] #280 closed

[2017-01-23 13:41] bmicklea commented on #285
@slemeur I believe in Che there is a plan to create notifications when new versions are pushed to DockerHub correct?  If that's the case then this can be done after that capability is added. In the meantime as Eugene said, we need to clarify the release information channel for ARTIK users and suggest that they download a new installer when a new version is available.

[2017-01-23 13:50] slemeur commented on #285
@eivantsov: There is no mechanisme at this moment, but why can't the installer check the latest versions pushed on dockerhub?

@bmicklea : Yes we are thinking about it for Che. But no timeframe at this moment.

[2017-01-23 14:00] TylerJewell commented on #285
Notifications on new versions should be out of scope.  The goal was entirely offline operation initially. We don't have a notification system.  Though the Che cli lets you check dockerhub for a list of versions though I think artik is looking at wrong URL.

[2017-01-23 14:11] bmicklea commented on #285
Correct, for the GA version and for some time after to upgrade users will:
- Download a new installer
- Run the installer

This will replace their existing ARTIK IDE with a new version.

[2017-01-24 12:30] eivantsov commented on #285
@slemeur you are talking about Artik IDE upgrade. While I am talking about both Artik IDE upgrade and the Electron client upgrade.

[2017-01-24 20:27] v-prabhu opened #295 "No provision to update the SDK to 1.1.3"
Hi,
I am trying to update the SDK of the Artik-530 module using IDE. However when I try to update, I am getting only 1.0 and 1.0.2 as option in the dropdown. There is no provision to update to 1.1.3.
Also, I was following the document available in "https://eclipse-che.readme.io/docs/samsung-artik-ide-getting-started#1-get-artik-ide-cli". But this link does not seem to be working. I just wanted to

[2017-01-25 12:26] sivarajanennarasu opened #297 "Artik Ide is not coming up,stuck at blank screen"
I built artik ide from source without any modification and launched it.But my browser stuck at blank screen.When I launched version field is empty.Please have a look at screen shots and kindly resolve it.
Used following cmd to launch artik-ide form built binary as follows.

        sudo docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
      -e CHE_ASSEMBLY=/home/sivarajan/artik-ide/a

[2017-01-25 13:14] riuvshin commented on #293
Done

[2017-01-25 13:14] #293 closed

[2017-01-25 19:24] v-prabhu opened #298 "Error while starting artik-ide.sh"
Hi,
I am trying to setup the IDE from scratch. Followed the instruction provided in "https://eclipse.org/che/docs/artik/start-windows/index.html". When I start using "artik-ide.sh start" I am getting the following error. However I was not getting this error with the previous startup script.

INFO: ARTIK-IDE: Starting container...
time="2017-01-25T19:21:23Z" level=fatal msg="Error response from dae

[2017-01-26 07:25] eivantsov commented on #297
Hello,

`che-launcher` is deprecated. Can you try the following syntax?

`docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v $path:/data -v /home/sivarajan/artik-ide:/repo codenvy/artik-cli start --debug`

`$path` is any local directory where you want to store Artik configuration files and projects.

[2017-01-26 14:39] eivantsov commented on #298
@v-prabhu can you please refer to updated docs? https://github.com/eclipse/che-docs/blob/master/src/main/_docs/artik-ide-plugin/artik-start-windows.md

[2017-01-26 14:40] eivantsov commented on #295
@v-prabhu is version 1.1.3 public? I do not think it is. Artik IDE checks for a publicly available repo and gets versions from there.

[2017-01-26 19:12] v-prabhu opened #299 "IDE Workspace never comes up - Always loading"
Hi, Followed the steps from "https://github.com/eclipse/che-docs/blob/master/src/main/_docs/artik-ide-plugin/artik-start-windows.md" to setup the IDE in windows. I could successfully setup IDE in my system.
Now, when I create a workspace, the screen displays only progress animation but the workspace never comes up. Tried this multiple times. But the same issue. Note that, workspace status in "Work

[2017-01-26 19:18] v-prabhu opened #300 "Creating workspace animation does not show up"
Hi, I am not getting the animation image while creating workspace is in progress. Following steps are followed.
1) Launch IDE in browser.
2) Create a new workspace.
3) While workspace creation is in progress, refresh the browser page.
4) Workspace animation image is missed and only a broken blinking image is shown.
![broken animation](https://cloud.githubusercontent.com/assets/21373498/22346487/28

[2017-01-26 19:21] v-prabhu commented on #300
Any attempt to launch IDE after this scenario, does not display the workspace creation in progress animation at all.

[2017-01-26 19:49] v-prabhu commented on #298
Using the doc, now I am able to setup the IDE. However creating workspace after launching IDE in browser does not show up. Keep getting the loading animation and never comes up. The workspace state is Running in the "Workspace" tab.
![capture](https://cloud.githubusercontent.com/assets/21373498/22347621/75db86b2-e3bd-11e6-9e47-c8469adc1c85.PNG)

[2017-01-27 05:29] mutturajKaralatti commented on #297
@sivarajanennarasu  Thanks for posting this issue
@eivantsov  i am also facing the same issue. I tried with your syntax, Results are here.

_root@alepc26:/home/alethea#
root@alepc26:/home/alethea# docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /home/alethea/artik_config:/data -v /home/alethea/Muttu/Jan_17/artik-ide:/repo codenvy/artik-cli start --debug
WARN: Bound 'codenvy/artik-c

[2017-01-27 06:26] sivarajanennarasu commented on #297
@eivantsov  Thanks for reply. I tried with your syntax. I am getting the following error.

[code]

[2017-01-27 08:37] eivantsov commented on #300
It must be a network issue. Can you make sure you disable firewall? Also, it's worth trying it in an incognito tab since some Chrome extensions may block JavaScript loading.

[2017-01-27 08:37] eivantsov commented on #299
Duplicate of https://github.com/codenvy/artik-ide/issues/300

[2017-01-27 08:37] #299 closed

[2017-01-27 08:37] eivantsov commented on #298
Duplicate of https://github.com/codenvy/artik-ide/issues/300

Let's track https://github.com/codenvy/artik-ide/issues/300

[2017-01-27 08:37] #298 closed

[2017-01-28 00:33] v-prabhu opened #302 "Restart workspace after updating SDK is failing with error"
I am trying "Update SDK and API" feature of IDE. Once updating the SDK is successful, click on "Restart Now" button in the confirmation alert. This will result in the error.
![capture](https://cloud.githubusercontent.com/assets/21373498/22392461/4ff8947a-e4ae-11e6-9c7f-4a46aea75242.PNG)

[2017-01-28 00:44] v-prabhu opened #303 "No error when connection lost with the artik module"
I connected the artik module with IDE. Once connection is successful, if the artik module is turned off or internet connection of the module is reset, no error alert of disconnection/informative text is shown to the user.

[2017-01-28 00:52] v-prabhu opened #304 ""Update SDK and API" feature is not installing the APIs for compile and test"
When tried to update the SDK and APIs using IDE, the APIs required for compiling the source code and run the test cases are not being installed.
We usually execute “dnf install libartik-sdk-tests”  to install the test files and dependent APIs. This would be followed by “dnf install libartik-sdk-systemio” to install other SDK dependencies. This is because usually the test examples execute using the

[2017-01-28 01:07] v-prabhu opened #305 ""Connecting to Artik device" multiple alerts when the Artik module lost connectivity"
- Connect a artik module.
- After successful connection Turn off the Artik mdule or reset the Internet connection of the Artik module.
- Disconnect the Artik module from "Manage your artik devices" screen in IDE.
- Click Connect again.
- "Loading" text appears for some time and disappears.
- Click on Connect multiple times.
- IDE neither shows "Connection failed", rather displays multiple "Connect

[2017-01-28 20:42] eivantsov commented on #305
@v-prabhu after you turn off your Artik, how long did you wait to disconnect it? There is a utility in the workspace that checks availability of your Artik device. Once it's turned off, there should be a popup asking if you want to disconnect.

[2017-01-28 20:43] eivantsov commented on #304
I assign it to myself and will fix asap.

[2017-01-28 20:52] eivantsov commented on #303
Bug confirmed.

[2017-01-28 20:54] eivantsov commented on #302
@v-prabhu does it happen when you choose not to start from a snapshot?

[2017-01-28 20:57] eivantsov commented on #300
Closing the issue as it has been resolved.

[2017-01-28 20:57] #300 closed

[2017-01-28 20:59] eivantsov commented on #297
@sivarajanennarasu the error you have means that you have the latest Artik code but use a tagged image.

@mutturajKaralatti @sivarajanennarasu  currently, Artik IDE master is not usable. We are on it. So if you want to build smth on top of Artik IDE, use the latest tag which is `1.3.1`

[2017-01-28 21:01] eivantsov commented on #295
I am closing this issue since 1.1.3 isn't public yet, and Artik IDE looks for versions in a public repo

[2017-01-28 21:01] #295 closed

[2017-01-29 12:52] eivantsov commented on #305
@v-prabhu I have tried to reproduce it on my side and I have got the following:

![image](https://cloud.githubusercontent.com/assets/5337267/22404086/35643e18-e632-11e6-917c-a0986d0e6ab7.png)

Can you reliably reproduce it? I ssh-ed into my Artik device and typed `reboot`. IN a few seconds I have got a popup in the IDE.

[2017-01-30 07:06] mutturajKaralatti commented on #297
@eivantsov Thanks!! Its working with tag 1.3.1

[2017-01-30 11:51] eivantsov commented on #305
@v-prabhu we have identified what may cause the problem. A fix is available in the new version that we will release asap.

[2017-01-30 12:56] mutturajKaralatti opened #307 "How to compile a c++ app on artik-ide"
Hi team,

I am trying to connect RaspBerryPi to artik-ide and execute a c++ application.  I am able to execute a manually compiled binary by clicking run button on artik-ide. How can I compile the app from artik-ide.
With my understanding there is no auto build and  **run** button process doesn't  include the compilation process.

If there is a way to compile it how can we customise the build comm

[2017-01-30 13:17] eivantsov commented on #307
You need to select your source code file and fliw Compile button:

![build](https://cloud.githubusercontent.com/assets/5337267/22424366/06782a92-e6ff-11e6-99d9-92b195d0d0c0.png)

You can edit compilation options at Project > Edit Compilation Options

![compilation_options](https://cloud.githubusercontent.com/assets/5337267/22424444/45deb6ec-e6ff-11e6-9179-de7c5292bd38.png)

[2017-01-30 13:37] mutturajKaralatti commented on #307
@eivantsov  Thanks for the reply!
I don't find any compile button on artik-ide. I am using tag-1.3.1.
Are you speaking about the **Execute command** button? but its disabled.

![screenshot from 2017-01-30 18 59 12](https://cloud.githubusercontent.com/assets/24957555/22424863/7d4a1882-e71e-11e6-85ea-aeaa0637d603.png)

![screenshot from 2017-01-30 18 59 34](https://cloud.githubusercontent.com/assets

[2017-01-30 13:46] eivantsov commented on #307
You need to select hello.cc and then Click execute command. You will see compile there

[2017-01-30 13:54] mutturajKaralatti commented on #307
@eivantsov I tried both by selecting project as well as a specific source file. But nothing is showing up on clicking **execute command**.

![screenshot from 2017-01-30 19 03 47](https://cloud.githubusercontent.com/assets/24957555/22425455/284cc03e-e721-11e6-87a9-18cf71935464.png)

[2017-01-30 15:17] eivantsov commented on #307
@mutturajKaralatti Rename file so that it has .cpp extension.

[2017-01-31 05:20] mutturajKaralatti commented on #307
@eivantsov Thanks. after changing the source file extension to .cpp compilation option is available and i am able compile it.

**Notes:**
1. It was a sample project created by artik stack on creating new workspace, so compiler option should be there for .cc file extension too.
2. Ideally the compilation option should be available for complete project in case we have the multiple source files in pr

[2017-01-31 10:40] vparfonov commented on #292
@bmicklea can you explain what means "ARTIK stack and utilities" ?
@slemeur we need icons for Artik IDE

[2017-01-31 10:53] vparfonov opened #308 "Installation of the ARTIK IDE for Mac OS"
#282

[2017-01-31 12:13] eivantsov opened #309 "Edit compilation options does not work"
Steps to reproduce:

1. Create C project.
2. Go to Project > Edit Compilation Options
3. Change binary name
4. Go back to Project > Edit Compilation Options

Changes are not there.

[2017-01-31 12:17] eivantsov commented on #307
@mutturajKaralatti bug configrmed https://github.com/codenvy/artik-ide/issues/309

[2017-01-31 12:18] eivantsov opened #310 "Enable compile button for .cc file extensions"
Compile button is enabled only if .ccp file is selected. We should do it for .cc files as well.

[2017-01-31 14:18] bmicklea commented on #292
It just means we have to include all the Docker images needed for ARTIK including any images needed to run the ARTIK stack (https://eclipse.org/che/docs/workspace/stacks/index.html) and any images for containers that run utilities like CLI, tests, etc... I'm not sure what's needed here so it's all stacks needed for me to install and then run the ARTIK IDE with the built-in ARTIK stack offline.

[2017-01-31 15:45] bmicklea opened #311 "Update ARTIK docs with new CLI testing flags"
Che CLI changes in this PR (https://github.com/eclipse/che/pull/3940) add additional checks that can be helpful for ARTIK. Docs should be updated with the additional flags.

[2017-01-31 18:36] bmicklea opened #313 "Spec: Integrate ARTIK IDE and Platform.io"
It probably makes sense for us to outline a spec on how the ARTIK IDE would integrate with Platform.io. One of the Che developers built out this tutorial showing how to use Platform.io with Che. There are many opportunities for creating a compelling IoT development toolchain using a mix of ARTIK IDE and Platform.io.

In previous discussions with the Platform.io founder it has been clear that they

[2017-02-01 07:07] #308 closed

[2017-02-01 07:50] vparfonov commented on #292
ok thx for explanation

[2017-02-01 10:44] eivantsov opened #314 "Release Artik 1.3.2"
Use this branch https://github.com/codenvy/artik-ide/tree/ARTIK-305

[2017-02-02 11:35] #290 closed

[2017-02-03 11:00] mutturajKaralatti opened #316 "Unable to connect RaspberryPi to artik-ide"
Hi team,

I am trying to connect RaspberryPi to artik-ide in **manage artik-device** facing some error. I am able to ssh from docker, which means from artik-ide terminal. Please have a look at some shots and dev-machine logs attached.

Notification:
![screenshot from 2017-02-03 12 22 38](https://cloud.githubusercontent.com/assets/24957555/22582267/c9036ab8-ea0b-11e6-83ed-760926350a54.png)

Event:

[2017-02-03 14:19] #314 closed

[2017-02-03 15:25] eivantsov commented on #316
@mutturajKaralatti what version do you use?

[2017-02-03 15:54] mutturajKaralatti commented on #316
@eivantsov   I am using tag-1.3.1.

[2017-02-03 15:59] eivantsov commented on #316
I think I have found the problem. Investigating.

[2017-02-03 22:00] v-prabhu commented on #302
@eivantsov With the IDE 1.3.2 release, the error while restarting the workspace is fixed. However the error is introduced after restarting and while recovering the workspace from snapshot.
1) Update SDK and API
2) Click "Restart" in the alert
3) After restart,  "Recovering from snapshot" alert will appear.
4) Click on "Yes"

IDE shows error alert and could not be recovered.
![recover from snapshot

[2017-02-03 22:02] v-prabhu commented on #304
@eivantsov With IDE 1.3.2 release, this issue does not seem to be working. Same comment as above still holds good.

[2017-02-03 22:05] v-prabhu opened #318 "Deleting the workspace in IDE is not deleting the workspace from local PC (where docker installed) directory"
If the workspace is deleted from IDE, the same should be deleted from the server PC also. Because, as developer, if I want to create new workspace with the same name, the previously deleted workspace and the projects will be loaded.

[2017-02-03 22:13] v-prabhu opened #319 "Selected Project while creating the workspace not loaded after workspace is up and running. Need to switch the tabs to get the selected projects."
1) Click "Add Workspace"
2) Click "Create" button by selecting a sample project (EX: artik-samples)
3) While workspace is starting, click on the in-progress workspace in the dashboard.
4) Logs can be seen in the IDE console.
5) Wait till the workspace is up and running.
6) the selected project (artik-samples) does not appear in the dashboard.
7) Click some other tab (ex: "Workspaces") and then cli

[2017-02-03 22:20] v-prabhu opened #320 "Import/Create project links are enabled while Starting the workspave is in progress"
Import/Create project links are enabled while starting workspace is in progress. However, clicking on this link displays a blank window.
![capture1](https://cloud.githubusercontent.com/assets/21373498/22610725/a9895a98-ea1b-11e6-9967-30cfce0ffe17.PNG)
![capture2](https://cloud.githubusercontent.com/assets/21373498/22610759/dc877588-ea1b-11e6-8992-fe5d3e6f5a06.PNG)

[2017-02-03 22:24] v-prabhu opened #321 "Workspace can not be deleted if the network resets (disconnects and connects again)"
1) Create the workspace in IDE.
2) Disconnect from the network.
3) After some times, connect the network again.
4) Click on "Workspaces" tab and delete the created workspace.
5) Workspace is not deleted.
6) User has to refresh the IDE to delete the created workspace.

If the IDE has to be refreshed to delete the workspace, then there should be an alert to the user.

[2017-02-03 22:26] v-prabhu opened #322 "No "Connected to Artik device" alert if the connected Artik module is turned off and then turned on"
As a developer, I want to be alerted whenever there is a connection lost or established with the device. Currently with IDE 1.3.2 release, connection lost alert is displaying, but once connection regained the alert is not being shown.

[2017-02-03 22:49] v-prabhu opened #323 "Error while starting a terminal of the device. But code can be pushed to the device."
1) Create a workspace with some sample project.
2) Connect the device.
3) Disconnect the device from network (or just turn off and on again)
4) In IDE, click on the terminal of the listed device.
5) Error will appear "Connection failed with the terminal"
6) IDE does not allow to open the terminal at all.
7) Now, try to push any file or project to the listed device.
8) Code pushed successfully.
9)

[2017-02-03 22:53] v-prabhu opened #324 "Delete the workspace and create a new with the same name and same sample project as deleted one"
1) Create a workspace "Test-Workspace" by selecting any sample projects "artik-samples".
2) After workspace is up and running, delete the workspace.
3) Again create a new workspace with the same name "Test-Workspace" with the same sample project "artik-samples".
4) Error alert will be displayed after the workspace is up and sample project is being loaded.
![error creating project -](https://cloud.

[2017-02-03 23:45] v-prabhu opened #325 ""Updating artik sdk" alert never goes off if the connected artik device is turned off while updating the sdk"
1) Click "Update SDK and APIs".
2) While update in progress turn off the artik device.

"Updating artik sdk" alert never goes off.
![update sdk-device off](https://cloud.githubusercontent.com/assets/21373498/22612773/b8db1412-ea27-11e6-9307-df33c8d2dc95.PNG)

[2017-02-03 23:50] v-prabhu opened #326 "Alert to install development software after connecting the artik device"
On connecting a new artik device and connection succeeded, an alert appears to install the development software required for debugging.
![alert to install development profile](https://cloud.githubusercontent.com/assets/21373498/22612876/730ff30c-ea28-11e6-9f5f-2ff7c616ec2d.PNG)

[2017-02-05 06:28] eivantsov commented on #326
@v-prabhu this a feature that we have implemented a few months ago.

[2017-02-05 06:29] eivantsov commented on #325
I think we will add a reasonable timeout for that.

[2017-02-05 06:30] eivantsov commented on #324
@v-prabhu I will try to reproduce and qualify it as bug.

[2017-02-05 06:38] eivantsov commented on #322
When a connection to the device is lost, it is automatically disconnected from the IDE.

So I wonder how I can reproduce this one https://github.com/codenvy/artik-ide/issues/323

When we cannot ping Artik, the IDE disconnects it and asks a user to re-connect.

[2017-02-05 06:44] eivantsov commented on #323
@v-prabhu when you power off your device, don't you see a popup saying that device is unavailable and you have been disconnected from it?

I tried but cannot reproduce this one.

When I power off my device I see the following behavior:

https://www.youtube.com/watch?v=2ACGoTXmvLY

[2017-02-05 09:32] eivantsov commented on #323
Although at times I am also able to reproduce:

![image](https://cloud.githubusercontent.com/assets/5337267/22625146/bf552f42-eb96-11e6-97bb-e1924c6778a2.png)

[2017-02-05 09:40] eivantsov commented on #321
I'll try to reproduce.

[2017-02-05 09:49] eivantsov commented on #304
@v-prabhu can you please elaborate? You need to update /etc/yum.repos/artik.repo in the workspace. Once done, you will see 1.1-3 version. And -tests package is installed now.

[2017-02-06 06:11] eivantsov commented on #304
@v-prabhu please, take a look:

![image](https://cloud.githubusercontent.com/assets/5337267/22636416/8e618e0a-ec43-11e6-97d4-7d5ca1fcf045.png)

After a successful installation, I ran the following command on my Artik device:

[code]

[2017-02-06 11:18] eivantsov commented on #302
@v-prabhu create a new workspace. Now that snapshots are off in Artik, the old workspace configuration still uses it.Just create a new workspace.

[2017-02-06 11:22] eivantsov commented on #316
The problem is that when connecting to ssh machine, terminal path is NULL.

[2017-02-06 12:26] eivantsov commented on #323
@v-prabhu we're considering a bit different mechanism of checking if the device is online. Now it might be possible that when a device is rebooting, health check service thinks the device is online.

I cannot reliably reproduce it. Happens to me, maybe 2 times out of 20.

[2017-02-06 17:50] v-prabhu commented on #323
@eivantsov This scenario is happening to me every time. I am not getting any alert to connect if the artik is rebooting or turned off.

[2017-02-06 18:00] eivantsov commented on #323
@v-prabhu are you certain you have 1.3.2 version? I have tried it with 2 devices in different network (once scenario involved a remote device). It mostly works and occasionally an alert does not appear - we will play with ping timeout to make sure the device availability is always under control.

[2017-02-06 19:24] v-prabhu commented on #304
Header files to compile the code is not loaded under  /usr/include/artik/ directory. Probably you need to install test image also to get the required header files under /usr/include/artik/ directory.

[2017-02-06 19:52] v-prabhu commented on #323
@eivantsov I tried again with the steps you mentioned in the video. When I try I am getting the following:
https://youtu.be/F27F7hwwDiQ

[2017-02-06 19:56] v-prabhu commented on #319
@eivantsov Please find the video below for the scenario.
https://youtu.be/U6aIvMSnmPg

[2017-02-06 20:08] v-prabhu commented on #324
@eivantsov Please see the video below:
 https://youtu.be/mHFqJiR_Y_c

[2017-02-06 21:39] v-prabhu commented on #326
@eivantsov I agree with you here. But development profile is needed only for the debugging purpose. This alert makes sense if the user opts to debug the code. However, the user can connect and use the device in Production profile also. Please correct if I am wrong.

[2017-02-07 00:29] v-prabhu opened #328 "Not able to start debugging session"
1) Connect the device
2) Compile one of the project file
3) Click Debug.
4) Terminal log stuck at creating the PID and stopped. Debugging did not continue
![debugging stuck](https://cloud.githubusercontent.com/assets/21373498/22672474/1423e99e-ec89-11e6-9393-6356853d92d6.PNG)

[2017-02-07 00:32] v-prabhu opened #329 "No provision to stop the port running gdb"
After the issue https://github.com/codenvy/artik-ide/issues/328, try to start debugging of another file. IDE gives error "Can't bind address. Address already in use". But user does not get any information on how to end the session. Also, End Debug session option is disabled.

![cant bind address](https://cloud.githubusercontent.com/assets/21373498/22672596/d0c68d9a-ec89-11e6-9145-94c58ea04694.PNG)

[2017-02-07 05:35] eivantsov commented on #329
@v-prabhu you need to stop previous debug command - the one from this screenshot - https://cloud.githubusercontent.com/assets/21373498/22672474/1423e99e-ec89-11e6-9393-6356853d92d6.PNG

Alternatively, you may kill a process by PID in Artik device.

[2017-02-07 05:36] eivantsov commented on #326
@v-prabhu no, Artik IDE features like run and debug won't work unless the device is in a dev mode.

[2017-02-07 05:39] eivantsov commented on #319
@v-prabhu I see now. Labeling as a bug.

[2017-02-07 06:04] eivantsov commented on #328
![image](https://cloud.githubusercontent.com/assets/5337267/22679587/e12a7070-ed0b-11e6-96fd-826a32a76c21.png)

I think we need a screenshare sessions to fix it. I have hard time reproducing any issues related to device connectivity.

[2017-02-07 11:03] eivantsov commented on #324
Yes, confirmed. Thank you.

[2017-02-07 11:12] eivantsov commented on #304
Headers in a workspace are installed into a different directory.

[2017-02-07 11:47] eivantsov commented on #318
Duplicate of https://github.com/eclipse/che/issues/3973

[2017-02-07 15:32] #310 closed

[2017-02-07 17:38] v-prabhu commented on #304
@eivantsov Iam taliking about connected artik module.

[2017-02-07 18:57] v-prabhu commented on #329
@eivantsov Looking at the screenshot in the issue, "End debug session" option is disabled. There is no way that I can stop the debugging. Also, referring to the screenshot, when I get this error, I will not know the PID to stop in the artik device.

[2017-02-09 10:00] eivantsov commented on #304
@v-prabhu i have taken this discussion to email.

[2017-02-09 10:00] #304 closed

[2017-02-09 10:01] eivantsov commented on #329
@v-prabhu during a screenshare session we have confirmed the issue cannot be reproduced anymore. Closing it.

[2017-02-09 10:01] #329 closed

[2017-02-09 22:02] v-prabhu commented on #328
@eivantsov I found a scenario to reproduce this issue.
1) Create a workspace with some sample project (ex: artik-sample)
2) Connect to any Artik device.
3) Select any file in the project and click debug in the connected device.
4) Terminal shows error "Can not exec a.out:No such file or directory" (This is expected as the file is not yet compiled).
5) Again select the same file in project and clic

[2017-02-09 22:04] v-prabhu commented on #328
After this developer can not end the debug session or kill the PID. User has to reboot the Artik device to start debugging again.

[2017-02-09 22:29] v-prabhu opened #333 ""Add Project" option for the workspace allows to create new workspace"
If I try to add the project in the workspace, IDE provides the option to create a new workspace also.
![picture3](https://cloud.githubusercontent.com/assets/21373498/22805778/0f4909ac-eed4-11e6-9571-24b2203b1bd9.png)
![picture2](https://cloud.githubusercontent.com/assets/21373498/22805784/14f1d06e-eed4-11e6-9147-4b251c950370.png)

[2017-02-09 22:39] v-prabhu opened #334 "Ambiguity between "Create Workspace" and "Add Workspace" options in Dashboard and Workspaces tab respectively"
I can see two options to create workspace in IDE. "Create Workspace" in Dashboard tab and "Add Workspace" in Workspaces tab. I assume, both these options are intended for the same use (Creating the new workspace). However, both these options behave differently.
1) Clicking on "Create Workspace" in Dashboard tab allows to add sample projects in the workspace.
2) Clicking on "Add Workspace" in Works

[2017-02-09 23:05] v-prabhu opened #335 "No error alert if the IDE lost connection with the Docker (Server)"
No error alert is being shown if the IDE looses connection with the docker. Meaning, if the network resets or network disconnected, IDE losses connection with the docker. The user should be alerted of this disconnection and should not be allowed to attempt any operations.
1) Start the docker.
2) Launch IDE in browser.
3) Create a workspace.
4) Wait till the workspace is up and running.
5) Disconne

[2017-02-10 05:10] eivantsov commented on #328
Yes, confirmed. I think what we will do is check if binary exists and if it does not - never attempt to start gdb and connect with a debugger to that process.

[2017-02-10 05:27] eivantsov commented on #335
Cannot reproduce. Disconnecting from network or turning off wifi did not impact IDE.

[2017-02-10 05:32] eivantsov commented on #334
Yes, Create a workspace implies creating a workspace and importing a project into it. Adding a workpace, is just workspace creation (so that you can import a project afterwards in the IDE)

[2017-02-10 05:33] eivantsov commented on #302
Closing the issue. Fixed in 1.3.2

[2017-02-10 05:42] eivantsov commented on #305
Fixed in 1.3.2

[2017-02-10 05:42] #305 closed

[2017-02-10 15:31] #325 closed

[2017-02-11 22:32] TylerJewell opened #338 "[cli] Offline mode does not work"
The ARTIK CLI is missing files in the `/version` to be similar to how the Che CLI works.

Now, certain images are inherited from the base (good).  But the CLI needs to have two images files for each version, one for the runtime images and another for stacks.  See how Che handles it here:
https://github.com/eclipse/che/tree/master/dockerfiles/cli/version/nightly

[2017-02-13 15:38] #328 closed

[2017-02-15 06:35] eivantsov commented on #303
Fixed

[2017-02-15 06:35] #303 closed

[2017-02-15 06:35] eivantsov commented on #328
Fixed

[2017-02-15 06:35] eivantsov commented on #325
Fixed

[2017-02-15 06:36] eivantsov commented on #322
Fixed

[2017-02-15 06:36] #322 closed

[2017-02-15 14:47] vinokurig commented on #318
Fixed in https://github.com/eclipse/che/issues/3973

[2017-02-16 00:16] v-prabhu opened #341 "npm not getting installed while "Update SDK and APIs""
When we do "Update SDK and APIs", the npm package is not getting installed in the Artik device. I assume IDE should execute "dnf install nodejs" on Artik device to solve this.

[2017-02-16 00:44] v-prabhu opened #342 "Alert never goes off if the connection with Artik lost during installation of rsync and gdbserver"
1) Connect Artik device.
2) Once connection is successful, an alert appears to install development software (rsync and gdbserver).
3) Click OK in alert.
4) While installation is in progress, turn off the Artik board.
5) The alert of "Installing rsync and gdbserver" does not go off and always shows in the processes tab.

Suggestion: If connection is lost during installation, dismiss the alert and a

[2017-02-16 13:24] #292 closed

[2017-02-16 17:58] #326 closed

[2017-02-16 18:16] eivantsov commented on #341
@v-prabhu Artik SDK is compatible with a particular node.js version. It has never been in specs to install node.js on Artik boards.

[2017-02-16 18:43] eivantsov commented on #323
Fixed in master

[2017-02-16 18:43] #323 closed

[2017-02-16 18:44] eivantsov commented on #269
@Connin we're planning to implement a new mechanism of device discovery which will be network based. I'll update this issue when it's done.

[2017-02-16 19:35] eivantsov opened #343 "Implement device discovery based in mDNS/DNS-SD"
It is possible to use avahi discovery to look for devices that advertise themselves in a local network.

A device should run a particular command in the background, i.e. it should be added to auto-start.

[2017-02-16 22:54] v-prabhu opened #344 "Installation of rsync and gdbserver stopped if switch the tabs during installation"
1) Create a workspace with some sample project.
2) Connect a artik device.
3) An alert displayed to install rsync and gdbserver for development. Click OK.
4) Two alerts displayed indicating rsync and gdbserver are being installed.
5) While installation is in progress, click on some other tab (Ex: Dashboard) and then again click on created workspace.
6) The alert of installation is in progress not

[2017-02-17 01:02] #334 closed

[2017-02-17 08:44] glemercier commented on #341
I confirm. Not the role of the IDE to deal with node.js versioning and installation.

[2017-02-17 12:04] eivantsov commented on #343
It looks like avahi-browse works only on Linux, where there's no VM.

[2017-02-17 15:32] svor commented on #324
The same problem was in CHE, now it's fixed (https://github.com/eclipse/che/pull/4122/files)

[2017-02-17 21:45] v-prabhu commented on #328
Thanks. Fixed in 1.4.0-SNAPSHOT, cli: nightly.

[2017-02-18 17:30] #341 closed

[2017-02-18 21:49] SkorikSergey opened #349 "The "Clipboard" button in the "Export Workspace" settings doesn't work."
**Reproduction Steps:**
1. "**Workspaces"** -> **"Configure workspace"** -> select tab **"Settings"**.
2. Click the **"Export As A File"** button .
3. Click the **"Clipboard"** button .

**Expected behavior:**
The workspace config text was inserted to the clipboard.

**Observed behavior:**
The clipboard was not changed.

**Additional information:**
Problem can be reliably reproduced, doesn't happe

[2017-02-20 06:44] #297 closed

[2017-02-20 06:45] eivantsov commented on #324
Fixed. @v-prabhu you may check it with the latest nightly image

[2017-02-20 07:00] eivantsov commented on #335
@v-prabhu you are on Win 7, right?

[2017-02-20 07:06] eivantsov commented on #307
Closing the issue. You may track https://github.com/codenvy/artik/issues/309

[2017-02-20 07:06] #307 closed

[2017-02-20 07:07] #253 closed

[2017-02-20 07:07] eivantsov commented on #254
Closing the issue. Feel free to reopen if the problem persists.

[2017-02-20 07:07] #254 closed

[2017-02-20 07:08] #246 closed

[2017-02-20 07:08] #245 closed

[2017-02-20 07:09] eivantsov commented on #244
Fixed by a new mechanism of launching Artik IDE and Eclipse Che.

[2017-02-20 07:09] #244 closed

[2017-02-20 07:09] #240 closed

[2017-02-20 07:09] #236 closed

[2017-02-20 07:10] #234 closed

[2017-02-20 07:10] eivantsov commented on #122
Now Artik CLI can inherit proxy settings from Docker daemon. Closing the issue. Feel free to reopen if the problem persists.

[2017-02-20 07:10] #122 closed

[2017-02-20 07:11] #178 closed

[2017-02-20 07:11] eivantsov commented on #177
@laralijuan I am closing this one. Feel free to reopen if you face issues with launching Artik using CLI.

[2017-02-20 07:11] #177 closed

[2017-02-20 07:13] eivantsov commented on #321
@v-prabhu can you reproduce it with the latest nightly image?

[2017-02-20 07:14] eivantsov commented on #153
With the new CLI, proxy settings from Docker daemon are inherited. Closing the issue.

[2017-02-20 07:14] #153 closed

[2017-02-20 07:15] eivantsov commented on #202
Closing the issue, as it is impossible to discover USB devices in Docker VMs.

Other possible solutions - discovery by the Electron (network based)

[2017-02-20 07:15] #202 closed

[2017-02-20 07:15] #248 closed

[2017-02-20 12:32] SkorikSergey opened #351 "The window with the configuration text changes after clicking on it"
**Reproduction Steps:**
1. "Workspaces" -> "Configure workspace" -> select tab "Settings".
2. Click the **"Export As A File"** button.
3. Click the right mouse button on configuration text.

**Expected behavior:**
The menu appears (see screenshot №1).

**Observed behavior:**
The window with the configuration text changes (see screenshot №2).

**Additional information:**
Problem can be reliably rep

[2017-02-20 12:38] #342 closed

[2017-02-21 07:33] mutturajKaralatti opened #352 "Unable to excecute python and Node.js on Artik"
Hi team,

I am trying to execute a python and node.js script on artik. I am able to create project and write a simple helloworld script. Since there is no compilation for scripts i am trying to run directly but **run** button is disabled for python and Node.js. I think run button is available only for  C/C++.

Create project window is allowing us to create python and nodeJs projects So i am assumi

[2017-02-21 09:45] eivantsov commented on #352
Currently, run flow isn't implemented for Python. For Node.JS however, Run button should be enabled.

[2017-02-21 10:31] mutturajKaralatti commented on #352
@eivantsov Thanks!
Node.js is working.  we need to select the .js file to run.

Is there plan to implement run flow for python in route map?

[2017-02-21 10:36] eivantsov commented on #352
There are no immediate plans, but as a workaround, you may run your python apps from the terminal.

[2017-02-21 13:16] mutturajKaralatti commented on #352
@eivantsov  Thanks.
You mean ssh to device and run it manually? or is there any better way in artik stack?

[2017-02-21 13:20] eivantsov commented on #352
You can open a terminal into the device right from the IDE (consoles panel)

[2017-02-21 16:41] eivantsov commented on #344
@v-prabhu it is not actually stopped. Your video shows that gdb and rsync are installed. It is just the IDE that loses this process from sight.

[2017-02-21 18:21] v-prabhu commented on #321
@eivantsov This issue seems to be fixed with the nightly image. Thanks.

[2017-02-21 18:21] #321 closed

[2017-02-21 18:25] v-prabhu commented on #324
The issue still persists with nightly image. Any solution for this issue.

[2017-02-21 18:27] eivantsov commented on #324
Did you clean local storage mounted into :/data?

[2017-02-21 19:05] v-prabhu commented on #324
Yes. I tried installing from scratch. Deleted all the images and also deleted all the local storage.

[2017-02-21 20:07] v-prabhu opened #353 "Can not debug Java script files"
Hi, I am trying to debug the javascript file in my Artik device. I am not getting the option to start debugging in the connected device. Can you please suggest if I am doing anything wrong.

[2017-02-21 23:52] v-prabhu commented on #335
Yes.

[2017-02-22 03:23] eivantsov commented on #324
Cannot reproduce. Must be a cache issue ir smth. We will release today.

[2017-02-22 03:25] eivantsov commented on #335
Cannot reproduce on Win 8 and 10.

Do you just disconnect from network or turn off networking at all?

[2017-02-22 04:38] eivantsov commented on #353
JavaScript debugger is unavailable for Artik IDE. Artik SDK needs to support the latest Node.js version to enable JavaScript debug,

[2017-02-22 07:36] eivantsov opened #354 "Release Artik 1.4.0"
Create a branch from current master, depend on Che 5.3.0

[2017-02-22 15:49] #354 closed

[2017-02-22 17:24] benoitf commented on #338
PR submitted https://github.com/codenvy/artik/issues/356

[2017-02-22 18:22] v-prabhu commented on #335
I usually start IDE on a open network. But when the IDE is open and I change to secured network, this issue is observed.

[2017-02-22 19:35] eivantsov commented on #335
I think I need more details to be able to reproduce it. On win 8, I just disconnect from a network, and the IDE is working fine.

[2017-02-22 22:09] v-prabhu commented on #318
This issue still persists with v.1.4.0.
However, if we create the workspace without any sample projects, then deleting the workspace deletes from :/data folder as well.

Follow the scenario below to reproduce the issue:
1) Create a workspace "Test-Workspace" with sample project "artik-samples".
2) After workspace is up and running delete the workspace.
3) Observe the "workspaces" folder in :/data.

[2017-02-22 22:12] v-prabhu commented on #324
This issue still persists with v.1.4.0.
However, if we create the workspace without any sample projects, then this issue is not observed.

Follow the scenario below to reproduce the issue:
1) Create a workspace "Test-Workspace" with sample project "artik-samples".
2) After workspace is up and running delete the workspace.
3) Observe the "workspaces" folder in :/data. The folder "Test-Workspace" st

[2017-02-22 23:58] v-prabhu commented on #329
1) Create a workspace with sample project "artik-samples"
2) Connect a Artik device
3) Select "ADC" from the project folder.
4) Compile and then debug on the connected device.
5) While debugging is in progress, end the debug session.
6) Try to debug again on the same device. Can not continue with debug with error "Address already in use".
 Please see the video below for reference:
https://youtu.be

[2017-02-23 05:13] mutturajKaralatti commented on #316
@eivantsov  Thanks!
 Is there a workaround for this issue? or any fix available in upcoming releases?

[2017-02-23 08:31] #338 closed

[2017-02-23 10:06] eivantsov opened #357 "Debugger improvement: check if 1234 port is free"
Before starting gdbserver, check if port 1234 is free, and if not, kill the process that runs on that port.

[2017-02-23 10:07] eivantsov commented on #324
Reopened. Win 7 and 8 need a patch

[2017-02-23 16:52] bmicklea opened #358 "Simplified Installation on Windows 7/8"
## Overview
In order to simplify the installation of the ARTIK IDE we will create an installer and an [Electron client](http://electron.atom.io/). The Electron client will use the same source code as the current browser IDE, but wrap it in a desktop client that allows a single icon click to start the ARTIK IDE. For this phase the installer and Electron client will only be designed to work with a l

[2017-02-24 00:47] v-prabhu commented on #302
@eivantsov The issue now introduced in IDE 1.4.0. Restarting workspace after "Update SDK and APIs" is failing with error.
![capture](https://cloud.githubusercontent.com/assets/21373498/23285707/bba8daf6-f9e7-11e6-9eeb-ffef2ed277ce.PNG)

[2017-02-24 00:50] v-prabhu opened #359 ""Download as zip" in Workspace toolbar option is downloading invalid/blank zip folder"
1) Create a workspace with some sample project.
2) Once workspace is up and running, click "Download as zip" in "Workspace" toolbar option.
3) Zip folder will be downloaded, but seems to be invalid as it can not be opened.

[2017-02-24 06:06] mutturajKaralatti opened #360 "Running Artik-ide on cloud and connect device to create a development environment"
Hi team,

We are planning to launch Artik-ide on cloud and connect a device to create a development environment.
As per my understanding this is not possible because artik-ide running on cloud(has public IP) can not reach device(private IP).
Is there  any way to make this work.

[2017-02-24 07:33] sivarajanennarasu opened #361 "Remote access to the Artik-ide is not working"
Artik-ide  is running on different machine, CHE_HOST_IP is exported with IP of same machine.From another machine,we were able to access arttik-ide but when we try to create the workspace we are getting following error.

We tried two options,first while lauching the artik ide we used "--remote:192.168.0.101" and second one by using env vaiable CHE_HOST_IP=192.168.0.101.The observatrion is same with

[2017-02-24 08:15] eivantsov commented on #302
@v-prabhu I cannot reproduce, probably a caching issue. Try it in an incognito mode.

[2017-02-24 08:53] eivantsov commented on #361
@sivarajanennarasu can you elaborate on your use case?

How and where Artik IDE is started? OS? Run syntax?

[2017-02-24 08:53] eivantsov commented on #360
@mutturajKaralatti yes, your device has to be reachable over a public IP

[2017-02-24 08:55] eivantsov commented on #359
@v-prabhu I cannot reproduce it on Ubuntu and Win 10. What software do you use to unzip?

[2017-02-24 09:01] sivarajanennarasu commented on #361
**OS: Linux ubuntu 14.04 LTS.**
Machine-1 and machine-2 are on same network. Artik ide is started using the following run syntax on Machine-1. Using the http link,artik-ide opened on browser in Machine-2.

**sudo docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
      -e CHE_ASSEMBLY=/home/sivarajan/artik-ide/assembly/assembly-main/target/artik-ide-1.3.1/artik-ide-1.3.1 \
eclipse/che-

[2017-02-24 09:39] sivarajanennarasu commented on #361
With the same setup, following error is observed when we try to open a existing workspace.

![screenshot from 2017-02-24 15_01_51](https://cloud.githubusercontent.com/assets/25144843/23298169/9c0af970-faa2-11e6-9122-ecdd0d4dc93c.png)

[2017-02-24 10:33] eivantsov commented on #361
docker run --rm -v /var/run/docker.sock:/var/run/docker.sock
-e CHE_ASSEMBLY=/home/sivarajan/artik-ide/assembly/assembly-main/target/artik-ide-1.3.1/artik-ide-1.3.1 eclipse/che-launcher start --remote: 'IP of Machine-1'

You are using the wrong syntax.

`docker run -ti -v /var/run/docker.sock:/var/run/docker.sock -v /home/sivarajan/artik-ide:/repo -v /home/sivarajan/artik-data:/data -e "ARTIK_HOST

[2017-02-28 09:35] sivarajanennarasu commented on #361
On upgrading to 1.4.0 reported issue is resolved.Thanks.

[2017-02-28 09:41] #361 closed

[2017-02-28 14:59] eivantsov opened #363 "Create an online installer for Win 10"
This installer should not have any images packed inside. Just Docker and Electron.

[2017-02-28 15:21] eivantsov opened #364 "Handle online Artik IDE scenario"
Electron client should expect that there might be no directory with image tars, thus it may not be required to check image availability and load them

[2017-02-28 15:24] eivantsov opened #365 "Create an online version of Mac Electron client"
This client should not have docker images packed inside.

Append `-online` before version in artifact name,

[2017-02-28 15:25] #353 closed

[2017-03-01 00:54] v-prabhu opened #366 "IDE Mac Installer: "Download Logs" window in start workspace is hiding the save dialogue"
1) Start Artik-Ide from the installer.
2) Start creating the workspace with some sample project "artik-samples".
3) While workspace is starting, turn off the wi-fi.
4) Error alert appears while trying to create project.
5) Click OK in the alert.
6) At the right corner of the window click "Problem?Download logs" option.
7) A blank window appears on the screen hiding the save dialogue. Quitting the

[2017-03-01 00:58] v-prabhu commented on #302
@eivantsov I tried this scenario in the incognito mode and also in the Mac installer. Please check the video:
https://youtu.be/nex81t5QfDY

[2017-03-01 01:04] v-prabhu opened #367 "Mac Installer: No option to Go Online if the Wi-Fi turned off during starting IDE"
1) Turn off the wi-fi
2) Double click and open installed IDE. (Docker is running, Artik-IDE service is running)
3) IDE fails while verifying the "Connectivity" . Displays an error and option to change proxy and Go to offline mode.
4) Now connect the wi-fi.
5) Connectivity status does not change dynamically in the IDE. Also there is no option in the window to verify the connectivity again.
<img wid

[2017-03-01 01:24] v-prabhu opened #368 "Cannot add the Artik device after restart workspace fails"
1) Start the IDE (either by installer or cloud).
2) Create a workspace with some sample project "artik-samples"
3) Once the workspace is up and running, click "Update SDK and APIs". (No need to connect the device)
4) Choose any version of the available SDK (Ex: 1.1-3)
5) After update is successful, click on "Restart Now" button in the alert.
6) This will result in an error. Click "Start" on the al

[2017-03-01 07:42] eivantsov commented on #302
Confirmed on Windows.

[2017-03-01 08:32] eivantsov commented on #368
I think this one will be fixed by proper handling update sdk feature

[2017-03-01 08:57] eivantsov commented on #366
This one can be reproduced only on a Mac.

[2017-03-01 13:10] vparfonov opened #369 "Revise code of Artik IDE in order to use localization constants where it is appropriate"

[2017-03-01 13:13] #267 closed

[2017-03-02 12:42] #357 closed

[2017-03-02 13:37] #291 closed

[2017-03-02 23:53] v-prabhu opened #371 "No notification to the user if the docker stops"
When the IDE is open and docker stops, then the user should get a notification alert to start the docker and the IDE should wait till the docker is up and running. In case of installers, on timeout, user should be given provision to restart the IDE or navigate to the "Starting IDE" (checking docker, IDE service and connectivity) screen with proper error message.

[2017-03-03 00:27] v-prabhu opened #372 "Can not create the workspace in windows-8"
There is no particular scenario for this. However, if it fails once then can not create the workspace again anytime after.

![not able to create workspace](https://cloud.githubusercontent.com/assets/21373498/23533206/0e8e00fc-ff65-11e6-83ae-39109a0cab37.PNG)

[2017-03-03 00:28] v-prabhu opened #373 "Windows-8: No animation while setting up the workspace"
No animation while setting up the workspace on windows 8.
![no animation while setting up the workspace](https://cloud.githubusercontent.com/assets/21373498/23533237/4b120b72-ff65-11e6-965f-b456089d12cc.PNG)

[2017-03-03 00:30] v-prabhu opened #374 "Workspace folder is created in IDE even if the workspace creation fails or terminated intentionally"
Workspace folder is created in IDE even if the workspace creation fails or terminated intentionally.
![workspace still exists if the creating project ends in error](https://cloud.githubusercontent.com/assets/21373498/23533276/822213e6-ff65-11e6-8bdd-d5a291cf27f1.PNG)

[2017-03-03 00:32] v-prabhu opened #375 "Windows-10 Installer: Compiled binary displayed only after refreshing the project folder"
The compiled binary does nor appear in the worspace until refreshed the project. However, the binary is getting pushed to the device once compiled and can be debugged.

[2017-03-03 06:36] eivantsov commented on #372
It does look like Docker connectivity issue.  Can you run `docker pull alpine` in your cmd and check if it is a success?

[2017-03-03 06:37] eivantsov commented on #371
@v-prabhu this feature wasn't part of the spec. If Docker stops you should see a notification in the IDE that connection to a server is lost.

[2017-03-03 06:39] eivantsov commented on #373
@v-prabhu what animation do you expect?

[2017-03-03 06:41] eivantsov commented on #374
@v-prabhu I think I lack steps to reproduce, but I'd say this is expected behavior. When a workspace is created, it's projects are saved into config. And if there are no physical sources in `/projects` such a project is marked as a bad project.

[2017-03-03 07:02] eivantsov commented on #375
Reproduced on Win 10

[2017-03-03 17:54] v-prabhu commented on #373
@eivantsov Find the below screenshot from Windows-7/10/Mac.
![docker stopped](https://cloud.githubusercontent.com/assets/21373498/23562452/57cf6408-fff7-11e6-8040-e73a7c02ffb6.PNG)

[2017-03-03 23:15] v-prabhu commented on #328
@eivantsov This issue still persists in Mac installer. Please give same fix as provided to other platforms.

[2017-03-03 23:17] v-prabhu commented on #329
@eivantsov The issue exists with Mac installer.

[2017-03-04 00:14] v-prabhu commented on #329
and also with all the platforms

[2017-03-04 00:31] v-prabhu opened #376 "Windows and Mac installer : Deleting a project file or compiled binary in the IDE workspace is not deleting the same from the connected artik device"
1) Create a workspace with some sample projects.
2) Connect a artik device.
3) The project folder gets copied in the artik device.
4) Delete any file in the loaded project from IDE.
5) The file is not synced with the device.

Note: This issue is with Windows-10 and Mac installer only.

[2017-03-04 00:37] v-prabhu opened #377 "IDE not connecting to the intended artik device"
1) Create a workspace.
3) Click on "Manage Artik Devices".
2) Connect a artik device (Ex: 192.168.1.147).
4) After connection succeeds, click Disconnect in the "Manage Artik device".
5) Now change the IP address(Ex: 192.168.1.195) to connect some other device.
6) Observe that the IDE is still connects to previously connected device (192.168.1.147).

[2017-03-04 04:58] eivantsov commented on #359
@v-prabhu I cannot reproduce it on Win 7 and 8 as well as Ubuntu.

[2017-03-04 05:00] eivantsov commented on #318
Related - https://github.com/codenvy/artik/issues/324

[2017-03-04 05:11] eivantsov commented on #371
I mean if a workspace container is down, there's a notification in the IDE and a workspace stops automatically. If Docker is down, then server container is stopped as well.

[2017-03-04 05:13] eivantsov commented on #328
It is not yet released. Artik installer uses tagged versions.

[2017-03-04 05:14] eivantsov commented on #329
The fix is in master, you can try it with nightly tag

[2017-03-04 05:21] eivantsov commented on #371
OK, I have registered an issue in Eclipse Che project - https://github.com/eclipse/che/issues/4311

[2017-03-04 05:21] eivantsov commented on #367
Fixed in Electron client. Will be available in the next release

[2017-03-04 05:26] eivantsov commented on #377
Reproduced